Repository kottans/frontend-2021-homeworks, pull requests merged in 2020-11, with the labels that each got.

#50 Added initial code of popup-task for rewiew
  submissions/iakow/html-css-popup/img/account_circle_24px.png
  submissions/iakow/html-css-popup/img/apps/avia.png
  submissions/iakow/html-css-popup/img/apps/cloud.png
  submissions/iakow/html-css-popup/img/apps/drink.png
  submissions/iakow/html-css-popup/img/apps/earth.png
  submissions/iakow/html-css-popup/img/apps/food.png
  submissions/iakow/html-css-popup/img/apps/learn.png
  submissions/iakow/html-css-popup/img/apps/maps.png
  submissions/iakow/html-css-popup/img/apps/movies.png
  submissions/iakow/html-css-popup/img/apps/music.png
  submissions/iakow/html-css-popup/img/apps/pazzle.png
  submissions/iakow/html-css-popup/img/apps/shopping.png
  submissions/iakow/html-css-popup/img/apps/sport.png
  submissions/iakow/html-css-popup/img/apps/weather.png
  submissions/iakow/html-css-popup/img/apps_24px.png
  submissions/iakow/html-css-popup/img/boys2.png
  submissions/iakow/html-css-popup/img/email_24px.png
  submissions/iakow/html-css-popup/img/insert_photo_24px.png
  submissions/iakow/html-css-popup/index.html
  submissions/iakow/html-css-popup/style.css
Labels: Hooli-style Popup

#44 adding tiny-js-world task
  submissions/5mountains/tiny-js-world/index.js
Labels: JS pre-OOP

#40 Add: a-tiny-js-world by andrewklmn
  submissions/andrewklmn/README.md
  submissions/andrewklmn/a-tiny-js-world/index.js
Labels: JS pre-OOP

#39 HTML & CSS Practice
  submissions/yuryzaytsev/css/style.css
  submissions/yuryzaytsev/img/avatar1.jpg
  submissions/yuryzaytsev/index.html
Labels: Hooli-style Popup

#41 Completed html-css-popup task.
  submissions/webdevtoday/html-css-popup/css/style.css
  submissions/webdevtoday/html-css-popup/images/user-photo.jpg
  submissions/webdevtoday/html-css-popup/index.html
  submissions/webdevtoday/html-css-popup/popup-icons/apps.png
  submissions/webdevtoday/html-css-popup/popup-icons/bell.png
  submissions/webdevtoday/html-css-popup/popup-icons/blogs.png
  submissions/webdevtoday/html-css-popup/popup-icons/calendar.png
  submissions/webdevtoday/html-css-popup/popup-icons/chat.png
  submissions/webdevtoday/html-css-popup/popup-icons/classroom.png
  submissions/webdevtoday/html-css-popup/popup-icons/collection.png
  submissions/webdevtoday/html-css-popup/popup-icons/contacts.png
  submissions/webdevtoday/html-css-popup/popup-icons/documents.png
  submissions/webdevtoday/html-css-popup/popup-icons/favicon.png
  submissions/webdevtoday/html-css-popup/popup-icons/files.png
  submissions/webdevtoday/html-css-popup/popup-icons/mail.png
  submissions/webdevtoday/html-css-popup/popup-icons/maps.png
  submissions/webdevtoday/html-css-popup/popup-icons/mars.png
  submissions/webdevtoday/html-css-popup/popup-icons/mic.png
  submissions/webdevtoday/html-css-popup/popup-icons/news.png
  submissions/webdevtoday/html-css-popup/popup-icons/photos.png
  submissions/webdevtoday/html-css-popup/popup-icons/popup-button.png
  submissions/webdevtoday/html-css-popup/popup-icons/promo.png
  submissions/webdevtoday/html-css-popup/popup-icons/search.png
  submissions/webdevtoday/html-css-popup/popup-icons/tanslation.png
  submissions/webdevtoday/html-css-popup/popup-icons/videos.png
Labels: Hooli-style Popup

#42 Complete html-css-popup by evgenii-del
  submissions/evgenii-del/html-css-popup/css/style.css
  submissions/evgenii-del/html-css-popup/img/audio_volume_high.png
  submissions/evgenii-del/html-css-popup/img/avatar.jpeg
  submissions/evgenii-del/html-css-popup/img/bell.png
  submissions/evgenii-del/html-css-popup/img/calendar.png
  submissions/evgenii-del/html-css-popup/img/copy2.png
  submissions/evgenii-del/html-css-popup/img/diskette.png
  submissions/evgenii-del/html-css-popup/img/envelope_open.png
  submissions/evgenii-del/html-css-popup/img/group.png
  submissions/evgenii-del/html-css-popup/img/hand_point.png
  submissions/evgenii-del/html-css-popup/img/history.png
  submissions/evgenii-del/html-css-popup/img/hourglass.png
  submissions/evgenii-del/html-css-popup/img/lock_open.png
  submissions/evgenii-del/html-css-popup/img/microphone.png
  submissions/evgenii-del/html-css-popup/img/popup-button.png
  submissions/evgenii-del/html-css-popup/img/refresh.png
  submissions/evgenii-del/html-css-popup/img/technical_hammer.png
  submissions/evgenii-del/html-css-popup/img/technical_screw.png
  submissions/evgenii-del/html-css-popup/img/technical_wrench.png
  submissions/evgenii-del/html-css-popup/img/traffic_lights1.png
  submissions/evgenii-del/html-css-popup/img/windows.png
  submissions/evgenii-del/html-css-popup/img/zoom.png
  submissions/evgenii-del/html-css-popup/index.html
Labels: Hooli-style Popup

#20 m-ruslan popup ready for review
  submissions/m-ruslan/html-css-popup/app.css
  submissions/m-ruslan/html-css-popup/img/ads.png
  submissions/m-ruslan/html-css-popup/img/apps.jpg
  submissions/m-ruslan/html-css-popup/img/apps.png
  submissions/m-ruslan/html-css-popup/img/apps_new.png
  submissions/m-ruslan/html-css-popup/img/bell.png
  submissions/m-ruslan/html-css-popup/img/bilbo.jpeg
  submissions/m-ruslan/html-css-popup/img/blogs.png
  submissions/m-ruslan/html-css-popup/img/calendar.png
  submissions/m-ruslan/html-css-popup/img/chat.png
  submissions/m-ruslan/html-css-popup/img/classroom.png
  submissions/m-ruslan/html-css-popup/img/collection.png
  submissions/m-ruslan/html-css-popup/img/contacts.png
  submissions/m-ruslan/html-css-popup/img/documents.png
  submissions/m-ruslan/html-css-popup/img/favicon.png
  submissions/m-ruslan/html-css-popup/img/files.png
  submissions/m-ruslan/html-css-popup/img/mail.png
  submissions/m-ruslan/html-css-popup/img/maps.png
  submissions/m-ruslan/html-css-popup/img/mars.png
  submissions/m-ruslan/html-css-popup/img/mic.png
  submissions/m-ruslan/html-css-popup/img/news.png
  submissions/m-ruslan/html-css-popup/img/photos.png
  submissions/m-ruslan/html-css-popup/img/search.png
  submissions/m-ruslan/html-css-popup/img/tanslation.png
  submissions/m-ruslan/html-css-popup/img/videos.png
  submissions/m-ruslan/html-css-popup/index.html
Labels: Hooli-style Popup

#48 Html-css-popup
  submissions/smillims/html-css-popup/#source/scss/nullstyle.scss
  submissions/smillims/html-css-popup/#source/scss/style.scss
  submissions/smillims/html-css-popup/.gitignore
  submissions/smillims/html-css-popup/css/media.css
  submissions/smillims/html-css-popup/css/style.css
  submissions/smillims/html-css-popup/fonts/Press Gothic Regular.eot
  submissions/smillims/html-css-popup/fonts/Press Gothic Regular.otf
  submissions/smillims/html-css-popup/fonts/Press Gothic Regular.svg
  submissions/smillims/html-css-popup/fonts/Press Gothic Regular.ttf
  submissions/smillims/html-css-popup/fonts/Press Gothic Regular.woff
  submissions/smillims/html-css-popup/img/bg-image/last-of-us__bg-image.jpg
  submissions/smillims/html-css-popup/img/list/970763_the-last-of-us-last-of-us-logo.png
  submissions/smillims/html-css-popup/img/list/photo_2020-09-21_20-30-45.jpg
  submissions/smillims/html-css-popup/index.html
Labels: Hooli-style Popup

#36 Html css popup task
  submissions/BlueLamantine/html-css-popup/img/favicon.png
  submissions/BlueLamantine/html-css-popup/img/kottans-font.png
  submissions/BlueLamantine/html-css-popup/index.html
  submissions/BlueLamantine/html-css-popup/style.css
Labels: Hooli-style Popup

#54 Building a Tiny JS World (pre-OOP) - done
  submissions/evgenii-del/tiny-js-world/index.js
Labels: JS pre-OOP

#43 html/css popup
  submissions/Nemooochka/html-css-popup/css/style.css
  submissions/Nemooochka/html-css-popup/index.html
Labels: Hooli-style Popup

#61 Update instructions on files submission
  README.md
Labels: documentation

#52 JS-DOM
  submissions/usides/js-dom/dist/README.md
  submissions/usides/js-dom/dist/css/main.css
  submissions/usides/js-dom/dist/css/reset.css
  submissions/usides/js-dom/dist/img/arrow.svg
  submissions/usides/js-dom/dist/img/lines.svg
  submissions/usides/js-dom/dist/img/logo.svg
  submissions/usides/js-dom/dist/img/notice.svg
  submissions/usides/js-dom/dist/index.html
  submissions/usides/js-dom/dist/js/main.js
  submissions/usides/js-dom/scss/_config.scss
  submissions/usides/js-dom/scss/_responsive.scss
  submissions/usides/js-dom/scss/main.scss
Labels: JS DOM

#58 Object-Oriented JavaScript - done
  submissions/evgenii-del/arcade-game/app.js
Labels: JS OOP

#67 Add: frogger game by andrewklmn
  submissions/andrewklmn/README.md
  submissions/andrewklmn/frogger-game/app.js
Labels: JS OOP

#38 Js dom task
  submissions/evgeniy24/js-dom/.gitignore
  submissions/evgeniy24/js-dom/README.md
  submissions/evgeniy24/js-dom/images/A New Hope (1977).jpg
  submissions/evgeniy24/js-dom/images/Attack of the Clones (2002).jpg
  submissions/evgeniy24/js-dom/images/Return of the Jedi (1983).jpg
  submissions/evgeniy24/js-dom/images/Revenge of the Sith (2005).jpg
  submissions/evgeniy24/js-dom/images/The Empire Strikes Back (1980).jpg
  submissions/evgeniy24/js-dom/images/The Force Awakens (2015).jpg
  submissions/evgeniy24/js-dom/images/The Last Jedi (2017).jpg
  submissions/evgeniy24/js-dom/images/The Phantom Menace (1999).jpg
  submissions/evgeniy24/js-dom/images/The Rise of Skywalker (2019).jpg
  submissions/evgeniy24/js-dom/images/starWarsSaga.jpg
  submissions/evgeniy24/js-dom/index.html
  submissions/evgeniy24/js-dom/script.js
  submissions/evgeniy24/js-dom/styles.css
Labels: JS DOM

#68 Document Object Model - done
  submissions/evgenii-del/dom/css/style.css
  submissions/evgenii-del/dom/img/cat-solid.svg
  submissions/evgenii-del/dom/img/favicon.ico
  submissions/evgenii-del/dom/img/fish-solid.svg
  submissions/evgenii-del/dom/img/heart-solid.svg
  submissions/evgenii-del/dom/img/paw-solid.svg
  submissions/evgenii-del/dom/img/sun-solid.svg
  submissions/evgenii-del/dom/index.html
  submissions/evgenii-del/dom/js/script.js
Labels: JS DOM

#64 Building a Tiny JS World (pre-OOP) by Evgen24
  submissions/evgeniy24/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#60 Dom
  submissions/krylenger/.DS_Store
  submissions/krylenger/dom-api-task/images/adventure.png
  submissions/krylenger/dom-api-task/images/arrow.png
  submissions/krylenger/dom-api-task/images/cruiser.png
  submissions/krylenger/dom-api-task/images/left-arrows.png
  submissions/krylenger/dom-api-task/images/logo.png
  submissions/krylenger/dom-api-task/images/naked.png
  submissions/krylenger/dom-api-task/images/offroad.png
  submissions/krylenger/dom-api-task/images/retro.png
  submissions/krylenger/dom-api-task/images/right-arrows.png
  submissions/krylenger/dom-api-task/images/sport.png
  submissions/krylenger/dom-api-task/images/supermoto.png
  submissions/krylenger/dom-api-task/images/touring.png
  submissions/krylenger/dom-api-task/index.html
  submissions/krylenger/dom-api-task/script.js
  submissions/krylenger/dom-api-task/style.css
  submissions/krylenger/html-css-popup/.DS_Store
Labels: JS DOM

#49 Add html css popup
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_ear.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_horn.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_location.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_melomane.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_metronome.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_microphone.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_piano.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_purse.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_11mu_rock.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_asana.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_bindi.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_flame.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_ganesh.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_heart.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_jossstick.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_ohm.svg
  submissions/VBystrov/html-css-popup/icons/Tilda_Icons_8yo_tree.svg
  submissions/VBystrov/html-css-popup/icons/favicon.png
  submissions/VBystrov/html-css-popup/img/bunny.png
  submissions/VBystrov/html-css-popup/index.html
  submissions/VBystrov/html-css-popup/style.css
Labels: Hooli-style Popup

#69 Dom task
  submissions/AnnaStoyano/js-dom/index.html
  submissions/AnnaStoyano/js-dom/script.js
  submissions/AnnaStoyano/js-dom/style.css
Labels: JS DOM

#75 creating a tiny JS world
  submissions/krylenger/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#59 Pre oop
  submissions/usides/pre-oop/index.js
Labels: JS pre-OOP

#72 Add: OOP exercise by andrewklmn
  submissions/andrewklmn/README.md
  submissions/andrewklmn/a-tiny-js-world/index.js
  submissions/andrewklmn/frogger-game/app.js
Labels: JS post-OOP

#65 Added tiny JS world task
  submissions/SerhiiYakovenko/tiny-js-world/index.js
Labels: JS pre-OOP

#81 added initial code
  submissions/iakow/js-dom/img/Alfa_Romeo_158-159.jpg
  submissions/iakow/js-dom/img/Brabham_BT45B.jpg
  submissions/iakow/js-dom/img/Eagle_T1G.jpg
  submissions/iakow/js-dom/img/Ferrari_641.jpg
  submissions/iakow/js-dom/img/Jordan_191.jpg
  submissions/iakow/js-dom/img/Ligier_JS11-15.jpg
  submissions/iakow/js-dom/img/Lotus_72.jpg
  submissions/iakow/js-dom/img/Lotus_79.jpg
  submissions/iakow/js-dom/img/McLaren_MP4-14.jpg
  submissions/iakow/js-dom/img/Williams_FW14B.jpg
  submissions/iakow/js-dom/img/close_24px.png
  submissions/iakow/js-dom/img/menu_24px.png
  submissions/iakow/js-dom/index.html
  submissions/iakow/js-dom/main.js
  submissions/iakow/js-dom/style.css
Labels: JS DOM

#79 Dom api task
  submissions/kikinovk/JS_DOM_API/README.md
  submissions/kikinovk/JS_DOM_API/css/style.css
  submissions/kikinovk/JS_DOM_API/image/black_tea.jpg
  submissions/kikinovk/JS_DOM_API/image/green_tea.jpg
  submissions/kikinovk/JS_DOM_API/image/oolong_tea.jpg
  submissions/kikinovk/JS_DOM_API/image/pu_erh-tea.jpg
  submissions/kikinovk/JS_DOM_API/image/white tea.jpg
  submissions/kikinovk/JS_DOM_API/index.html
  submissions/kikinovk/JS_DOM_API/js/app.js
Labels: JS DOM

#70 Finished HTML-CSS-POPUP task
  submissions/WEremite/html-css-popup/index.html
  submissions/WEremite/html-css-popup/style.css
Labels: Hooli-style Popup

#55 Saiko popup
  submissions/RomanSaiko/html-css-popup/css/styles.css
  submissions/RomanSaiko/html-css-popup/index.html
Labels: Hooli-style Popup

#77 add frogger-game
  submissions/usides/frogger-game/app.js
Labels: JS OOP

#89 pre-opp
  submissions/AnnaStoyano/pre-oop/index.js
Labels: JS pre-OOP

#88 Pre-oop task
  submissions/HannaSyn/preOop/index.js
Labels: JS pre-OOP

#62 Popup task 2
  submissions/TaniaBondarenko/popup2_task/images/apps.png
  submissions/TaniaBondarenko/popup2_task/images/bell.png
  submissions/TaniaBondarenko/popup2_task/images/blogs.png
  submissions/TaniaBondarenko/popup2_task/images/calendar.png
  submissions/TaniaBondarenko/popup2_task/images/chat.png
  submissions/TaniaBondarenko/popup2_task/images/classroom.png
  submissions/TaniaBondarenko/popup2_task/images/collection.png
  submissions/TaniaBondarenko/popup2_task/images/contacts.png
  submissions/TaniaBondarenko/popup2_task/images/documents.png
  submissions/TaniaBondarenko/popup2_task/images/favicon.png
  submissions/TaniaBondarenko/popup2_task/images/files.png
  submissions/TaniaBondarenko/popup2_task/images/mail.png
  submissions/TaniaBondarenko/popup2_task/images/maps.png
  submissions/TaniaBondarenko/popup2_task/images/mars.png
  submissions/TaniaBondarenko/popup2_task/images/mic.png
  submissions/TaniaBondarenko/popup2_task/images/news.png
  submissions/TaniaBondarenko/popup2_task/images/photos.png
  submissions/TaniaBondarenko/popup2_task/images/popup-button.png
  submissions/TaniaBondarenko/popup2_task/images/promo.png
  submissions/TaniaBondarenko/popup2_task/images/search.png
  submissions/TaniaBondarenko/popup2_task/images/tanslation.png
  submissions/TaniaBondarenko/popup2_task/images/videos.png
  submissions/TaniaBondarenko/popup2_task/index.html
  submissions/TaniaBondarenko/popup2_task/style.css
Labels: Hooli-style Popup

#76 Dom api task
  submissions/hannasyn/js-dom/css/style.css
  submissions/hannasyn/js-dom/index.html
  submissions/hannasyn/js-dom/index.js
Labels: JS DOM

#94 Oop
  submissions/usides/oop/index.js
Labels: JS post-OOP

#92 Tiny js world task
  submissions/kikinovk/Tiny JS World/index.js
Labels: JS pre-OOP

#82 nadsatt dom-api
  submissions/nadsatt/dom-api/app.js
  submissions/nadsatt/dom-api/images/actors/cat-of-the-year-actor1.png
  submissions/nadsatt/dom-api/images/actors/cat-of-the-year-actor2.png
  submissions/nadsatt/dom-api/images/actors/cat-of-the-year-actor3.png
  submissions/nadsatt/dom-api/images/actors/cat-of-the-year-actor4.png
  submissions/nadsatt/dom-api/images/actors/great-catsby-actor1.png
  submissions/nadsatt/dom-api/images/actors/great-catsby-actor2.png
  submissions/nadsatt/dom-api/images/actors/great-catsby-actor3.png
  submissions/nadsatt/dom-api/images/actors/great-catsby-actor4.png
  submissions/nadsatt/dom-api/images/actors/kitty-potter-actor1.png
  submissions/nadsatt/dom-api/images/actors/kitty-potter-actor2.png
  submissions/nadsatt/dom-api/images/actors/kitty-potter-actor3.png
  submissions/nadsatt/dom-api/images/actors/kitty-potter-actor4.png
  submissions/nadsatt/dom-api/images/actors/new-meov-actor1.png
  submissions/nadsatt/dom-api/images/actors/new-meov-actor2.png
  submissions/nadsatt/dom-api/images/actors/new-meov-actor3.png
  submissions/nadsatt/dom-api/images/actors/new-meov-actor4.png
  submissions/nadsatt/dom-api/images/actors/the-martian-actor1.png
  submissions/nadsatt/dom-api/images/actors/the-martian-actor2.png
  submissions/nadsatt/dom-api/images/actors/the-martian-actor3.png
  submissions/nadsatt/dom-api/images/actors/the-martian-actor4.png
  submissions/nadsatt/dom-api/images/backgrounds/cat-of-the-year-mobile.png
  submissions/nadsatt/dom-api/images/backgrounds/cat-of-the-year.png
  submissions/nadsatt/dom-api/images/backgrounds/great-catsby-mobile.png
  submissions/nadsatt/dom-api/images/backgrounds/great-catsby.png
  submissions/nadsatt/dom-api/images/backgrounds/kitty-potter-mobile.png
  submissions/nadsatt/dom-api/images/backgrounds/kitty-potter.png
  submissions/nadsatt/dom-api/images/backgrounds/new-meov-mobile.png
  submissions/nadsatt/dom-api/images/backgrounds/new-meov.png
  submissions/nadsatt/dom-api/images/backgrounds/the-martian-mobile.png
  submissions/nadsatt/dom-api/images/backgrounds/the-martian.png
  submissions/nadsatt/dom-api/images/favicon.jpg
  submissions/nadsatt/dom-api/images/posters/cat-of-the-year-poster.png
  submissions/nadsatt/dom-api/images/posters/great-catsby-poster.png
  submissions/nadsatt/dom-api/images/posters/kitty-potter-poster.png
  submissions/nadsatt/dom-api/images/posters/new-meov-poster.png
  submissions/nadsatt/dom-api/images/posters/the-martian-poster.png
  submissions/nadsatt/dom-api/index.html
  submissions/nadsatt/dom-api/styles.css
  submissions/nadsatt/dom-api/styles/reset.css
  submissions/nadsatt/dom-api/styles/responsive.css
  submissions/nadsatt/dom-api/styles/variables.css
Labels: JS DOM

#78 Task js DOM added
  submissions/BlueLamantine/js-dom/dom.js
  submissions/BlueLamantine/js-dom/img/cat.png
  submissions/BlueLamantine/js-dom/img/coffemarker.png
  submissions/BlueLamantine/js-dom/index.html
  submissions/BlueLamantine/js-dom/style.css
Labels: JS DOM

#91 Pre oop
  submissions/nadsatt/pre-oop/index.js
Labels: JS pre-OOP

#102 tiny js world
  submissions/Nemooochka/tiny-js/index.js
Labels: JS pre-OOP

#73 OOP exercise - done
  submissions/evgenii-del/oop-exercise/index.js
Labels: JS post-OOP

#71 Oop(Tiny js world advanced)
  submissions/mustbefail/oop/index.js
Labels: JS post-OOP

#47 add a Hooli-popup-task by ORybka
  submissions/ORybka/html-css-popup/README.md
  submissions/ORybka/html-css-popup/index.html
  submissions/ORybka/html-css-popup/style.css
  submissions/ORybka/html-css-popup/style.css.map
  submissions/ORybka/html-css-popup/style.scss
Labels: Hooli-style Popup

#99 Tiny JS World (pre-OOP)
  submissions/iakow/a-tiny-js-work/index.js
Labels: JS pre-OOP

#100 Dom api task new
  submissions/7SergSmith7/DOM model/.gitignore
  submissions/7SergSmith7/DOM model/dist/app.js
  submissions/7SergSmith7/DOM model/dist/index.html
  submissions/7SergSmith7/DOM model/src/css/styles.css
  submissions/7SergSmith7/DOM model/src/css/vendor/normalize.css
  submissions/7SergSmith7/DOM model/src/html/index.html
  submissions/7SergSmith7/DOM model/src/js/app.js
Labels: JS DOM

#90 Html-css-popup
  README.md
  submissions/Nazar-cmd/html-css-popup/css/reset_styles.scss
  submissions/Nazar-cmd/html-css-popup/css/style.scss
  submissions/Nazar-cmd/html-css-popup/index.html
Labels: Hooli-style Popup

#83 Hooli-style Popup Task
  submissions/nallikaea/html-css-popup/css/main.css
  submissions/nallikaea/html-css-popup/index.html
Labels: Hooli-style Popup

#87 JS dom api
  submissions/Nemooochka/js-dom/css/style.css
  submissions/Nemooochka/js-dom/index.html
  submissions/Nemooochka/js-dom/js/script.js
Labels: JS DOM

#66 added my frogger-game version
  submissions/5mountains/frogger-game/app.js
Labels: JS OOP

#80 first html-css-popup commit
  submissions/eve5ince/html-css-popup/css/master.css
  submissions/eve5ince/html-css-popup/img/angle-double-down-solid.svg
  submissions/eve5ince/html-css-popup/img/apps.png
  submissions/eve5ince/html-css-popup/img/bell.png
  submissions/eve5ince/html-css-popup/img/blogs.png
  submissions/eve5ince/html-css-popup/img/calendar.png
  submissions/eve5ince/html-css-popup/img/chat.png
  submissions/eve5ince/html-css-popup/img/classroom.png
  submissions/eve5ince/html-css-popup/img/collection.png
  submissions/eve5ince/html-css-popup/img/contacts.png
  submissions/eve5ince/html-css-popup/img/documents.png
  submissions/eve5ince/html-css-popup/img/favicon.png
  submissions/eve5ince/html-css-popup/img/files.png
  submissions/eve5ince/html-css-popup/img/mail.png
  submissions/eve5ince/html-css-popup/img/maps.png
  submissions/eve5ince/html-css-popup/img/mars.png
  submissions/eve5ince/html-css-popup/img/mic.png
  submissions/eve5ince/html-css-popup/img/news.png
  submissions/eve5ince/html-css-popup/img/photos.png
  submissions/eve5ince/html-css-popup/img/popup-button.png
  submissions/eve5ince/html-css-popup/img/promo.png
  submissions/eve5ince/html-css-popup/img/search.png
  submissions/eve5ince/html-css-popup/img/tanslation.png
  submissions/eve5ince/html-css-popup/img/videos.png
  submissions/eve5ince/html-css-popup/index.html
Labels: Hooli-style Popup

#108 HTML CSS Popup
  submissions/laneleka/html-css-popup/css/media-queries.css
  submissions/laneleka/html-css-popup/css/style.css
  submissions/laneleka/html-css-popup/index.html
  submissions/laneleka/html-css-popup/lib/normalize.css
  submissions/laneleka/html-css-popup/src/cat2.mp4
  submissions/laneleka/html-css-popup/src/user.jpeg
Labels: Hooli-style Popup

#105 Memory game
  submissions/usides/memory-game/css/main.css
  submissions/usides/memory-game/css/reset.css
  submissions/usides/memory-game/img/crim_01.jpg
  submissions/usides/memory-game/img/crim_02.jpg
  submissions/usides/memory-game/img/crim_03.jpg
  submissions/usides/memory-game/img/crim_04.jpg
  submissions/usides/memory-game/img/crim_05.jpg
  submissions/usides/memory-game/img/crim_06.jpg
  submissions/usides/memory-game/img/grid.png
  submissions/usides/memory-game/img/logo.svg
  submissions/usides/memory-game/index.html
  submissions/usides/memory-game/js/main.js
  submissions/usides/memory-game/sounds/lock.mp3
  submissions/usides/memory-game/sounds/meow.mp3
Labels: Memory Pair Game

#74 added task memory game
  submissions/chris-voitova/memory-game/index.html
  submissions/chris-voitova/memory-game/index.js
  submissions/chris-voitova/memory-game/style.css
Labels: Memory Pair Game

#119 OOP Exercise
  submissions/HannaSyn/oop-exercise/index.js
Labels: JS post-OOP

#111 Html css popup
  submissions/vakulinina/html-css-popup/index.html
  submissions/vakulinina/html-css-popup/main.css
Labels: Hooli-style Popup

#103 Frogger game
  submissions/krylenger/frogger/app.js
Labels: JS OOP

#86 molchanova add html-css-popup
  submissions/TatyanaMolchanova/HTML-CSS-Popup/index.html
  submissions/TatyanaMolchanova/HTML-CSS-Popup/styles.css
Labels: Hooli-style Popup

#104 Finished Hooli-style-popup task
  submissions/AsyaYeromina/html-css-popup/css/style.css
  submissions/AsyaYeromina/html-css-popup/index.html
Labels: Hooli-style Popup

#116 html-css-popup review Hooli-style Popup
  submissions/AndriiZahumnyi/html-css-popup/index.html
  submissions/AndriiZahumnyi/html-css-popup/main_style.css
Labels: Hooli-style Popup

#101 Add: memory-pair-game task by andrewklmn
  submissions/andrewklmn/memory-pair-game/app.css
  submissions/andrewklmn/memory-pair-game/app.js
  submissions/andrewklmn/memory-pair-game/img/empty.png
  submissions/andrewklmn/memory-pair-game/img/image1.png
  submissions/andrewklmn/memory-pair-game/img/image2.png
  submissions/andrewklmn/memory-pair-game/img/image3.png
  submissions/andrewklmn/memory-pair-game/img/image4.png
  submissions/andrewklmn/memory-pair-game/img/image5.png
  submissions/andrewklmn/memory-pair-game/img/image6.png
  submissions/andrewklmn/memory-pair-game/img/image7.png
  submissions/andrewklmn/memory-pair-game/img/image8.png
  submissions/andrewklmn/memory-pair-game/index.html
Labels: Memory Pair Game

#106 a-tiny-JS-world post_OOP
  submissions/krylenger/a-tiny-JS-world_post_OOP/index.js
Labels: JS post-OOP

#123 + interactive side-menu' site without page reloads;
  submissions/RomanSaiko/dom-practise/css/styles.css
  submissions/RomanSaiko/dom-practise/index.html
  submissions/RomanSaiko/dom-practise/js/scripts.js
Labels: JS DOM

#125 Saiko tiny js world
  submissions/RomanSaiko/tiny-js-world/index.js
Labels: JS pre-OOP

#138 Memory-pair game
  submissions/HannaSyn/memory-pair-game/app.js
  submissions/HannaSyn/memory-pair-game/index.html
  submissions/HannaSyn/memory-pair-game/style.css
Labels: Memory Pair Game

#110 Memory – Pair Game - #done
  submissions/evgenii-del/memory-game/css/style.css
  submissions/evgenii-del/memory-game/images/card-front.jfif
  submissions/evgenii-del/memory-game/images/card1.jfif
  submissions/evgenii-del/memory-game/images/card2.jfif
  submissions/evgenii-del/memory-game/images/card3.jfif
  submissions/evgenii-del/memory-game/images/card4.jfif
  submissions/evgenii-del/memory-game/images/card5.jfif
  submissions/evgenii-del/memory-game/images/card6.jfif
  submissions/evgenii-del/memory-game/images/card7.jfif
  submissions/evgenii-del/memory-game/images/card8.jfif
  submissions/evgenii-del/memory-game/index.html
  submissions/evgenii-del/memory-game/js/main.js
Labels: Memory Pair Game

#140 Add dom api task
  submissions/VBystrov/dom/css/style.css
  submissions/VBystrov/dom/image/Artifact_Badge_of_Courage.png
  submissions/VBystrov/dom/image/Tower_fort.gif
  submissions/VBystrov/dom/image/favicon.ico
  submissions/VBystrov/dom/image/tower_l1+.png
  submissions/VBystrov/dom/image/tower_l2+.jpg
  submissions/VBystrov/dom/image/tower_l3+.jpg
  submissions/VBystrov/dom/image/tower_l4+.jpg
  submissions/VBystrov/dom/image/tower_l5+.jpg
  submissions/VBystrov/dom/image/tower_l6+.jpg
  submissions/VBystrov/dom/image/tower_l7+.jpg
  submissions/VBystrov/dom/index.html
  submissions/VBystrov/dom/js/app.js
  submissions/VBystrov/dom/js/tower.js
Labels: JS DOM

#85 Js dom
  submissions/natashafir/js-dom/index.html
  submissions/natashafir/js-dom/index.js
  submissions/natashafir/js-dom/style.css
Labels: JS DOM

#147 Task js-dom
  submissions/webdevtoday/task_js_dom/css/app.css
  submissions/webdevtoday/task_js_dom/images/pexels-jessica-lewis-583846-min.jpg
  submissions/webdevtoday/task_js_dom/images/pexels-jessica-lewis-583846.jpg
  submissions/webdevtoday/task_js_dom/images/pngfind.com-cocaine-bag-png-5072061.png
  submissions/webdevtoday/task_js_dom/images/pngwing.com.png
  submissions/webdevtoday/task_js_dom/images/user-photo.jpg
  submissions/webdevtoday/task_js_dom/index.html
  submissions/webdevtoday/task_js_dom/js/Controller.js
  submissions/webdevtoday/task_js_dom/js/Render.js
  submissions/webdevtoday/task_js_dom/js/Route.js
  submissions/webdevtoday/task_js_dom/js/app.js
  submissions/webdevtoday/task_js_dom/js/controllers/AboutController.js
  submissions/webdevtoday/task_js_dom/js/controllers/HomeController.js
  submissions/webdevtoday/task_js_dom/popup-icons/apps.png
  submissions/webdevtoday/task_js_dom/popup-icons/bell.png
  submissions/webdevtoday/task_js_dom/popup-icons/blogs.png
  submissions/webdevtoday/task_js_dom/popup-icons/calendar.png
  submissions/webdevtoday/task_js_dom/popup-icons/chat.png
  submissions/webdevtoday/task_js_dom/popup-icons/classroom.png
  submissions/webdevtoday/task_js_dom/popup-icons/collection.png
  submissions/webdevtoday/task_js_dom/popup-icons/contacts.png
  submissions/webdevtoday/task_js_dom/popup-icons/documents.png
  submissions/webdevtoday/task_js_dom/popup-icons/favicon.png
  submissions/webdevtoday/task_js_dom/popup-icons/files.png
  submissions/webdevtoday/task_js_dom/popup-icons/mail.png
  submissions/webdevtoday/task_js_dom/popup-icons/maps.png
  submissions/webdevtoday/task_js_dom/popup-icons/mars.png
  submissions/webdevtoday/task_js_dom/popup-icons/mic.png
  submissions/webdevtoday/task_js_dom/popup-icons/news.png
  submissions/webdevtoday/task_js_dom/popup-icons/photos.png
  submissions/webdevtoday/task_js_dom/popup-icons/popup-button.png
  submissions/webdevtoday/task_js_dom/popup-icons/promo.png
  submissions/webdevtoday/task_js_dom/popup-icons/search.png
  submissions/webdevtoday/task_js_dom/popup-icons/tanslation.png
  submissions/webdevtoday/task_js_dom/popup-icons/videos.png
Labels: JS DOM

#112 Memory game task
  submissions/ses3332002/memory-game/fonts/Bellota-Regular.woff2
  submissions/ses3332002/memory-game/fonts/helveticaneuecyr-light-webfont.woff2
  submissions/ses3332002/memory-game/img/1_1.jpg
  submissions/ses3332002/memory-game/img/1_10.jpg
  submissions/ses3332002/memory-game/img/1_11.jpg
  submissions/ses3332002/memory-game/img/1_12.jpg
  submissions/ses3332002/memory-game/img/1_2.jpg
  submissions/ses3332002/memory-game/img/1_3.jpg
  submissions/ses3332002/memory-game/img/1_4.jpg
  submissions/ses3332002/memory-game/img/1_5.jpg
  submissions/ses3332002/memory-game/img/1_6.jpg
  submissions/ses3332002/memory-game/img/1_7.jpg
  submissions/ses3332002/memory-game/img/1_8.jpg
  submissions/ses3332002/memory-game/img/1_9.jpg
  submissions/ses3332002/memory-game/img/1_bg.jpg
  submissions/ses3332002/memory-game/img/2_1.jpg
  submissions/ses3332002/memory-game/img/2_10.jpg
  submissions/ses3332002/memory-game/img/2_11.jpg
  submissions/ses3332002/memory-game/img/2_12.jpg
  submissions/ses3332002/memory-game/img/2_2.jpg
  submissions/ses3332002/memory-game/img/2_3.jpg
  submissions/ses3332002/memory-game/img/2_4.jpg
  submissions/ses3332002/memory-game/img/2_5.jpg
  submissions/ses3332002/memory-game/img/2_6.jpg
  submissions/ses3332002/memory-game/img/2_7.jpg
  submissions/ses3332002/memory-game/img/2_8.jpg
  submissions/ses3332002/memory-game/img/2_9.jpg
  submissions/ses3332002/memory-game/img/2_bg.jpg
  submissions/ses3332002/memory-game/img/icons_sprite.svg
  submissions/ses3332002/memory-game/index.html
  submissions/ses3332002/memory-game/script.js
  submissions/ses3332002/memory-game/style.css
Labels: Memory Pair Game

#153 A tiny js world
  submissions/webdevtoday/a-tiny-js-world/index.js
Labels: JS pre-OOP

#126 Js dom
  submissions/TatyanaMolchanova/js-dom/index.html
  submissions/TatyanaMolchanova/js-dom/script.js
  submissions/TatyanaMolchanova/js-dom/style.css
Labels: JS DOM

#117 Frogger game
  submissions/HannaSyn/frogger-game/app.js
Labels: JS OOP

#144 Memory Pair Game
  submissions/Nemooochka/memory-pair/index.html
  submissions/Nemooochka/memory-pair/scripts.js
  submissions/Nemooochka/memory-pair/styles.css
Labels: Memory Pair Game

#162 Friends-App
  submissions/usides/friends-app/css/main.css
  submissions/usides/friends-app/css/reset.css
  submissions/usides/friends-app/img/bgc.png
  submissions/usides/friends-app/img/binoculars.svg
  submissions/usides/friends-app/img/cat.png
  submissions/usides/friends-app/img/logo.svg
  submissions/usides/friends-app/index.html
  submissions/usides/friends-app/js/main.js
Labels: Friends App

#149 OOP
  submissions/nadsatt/post-oop/index.js
Labels: JS post-OOP, reference-code

#148 A tiny js world by natashafir
  submissions/natashafir/a-tiny-js-world/index.js
Labels: JS pre-OOP

#145 Memory pair game
  submissions/krylenger/memory-pair-game/app.js
  submissions/krylenger/memory-pair-game/index.html
  submissions/krylenger/memory-pair-game/style.css
Labels: Memory Pair Game

#146 HTML-CSS-Popup task
  submissions/lalalilulu/hooli-style_popup/index.html
  submissions/lalalilulu/hooli-style_popup/styles.css
Labels: Hooli-style Popup

#133 OOP
  submissions/AnnaStoyano/oop-exercise/index.js
Labels: JS post-OOP

#130 Frogger game
  submissions/nadsatt/frogger-game/app.js
Labels: JS OOP

#142 Add popup-task
  submissions/okkkko/html_css_popup/img/blank-user-profile.svg
  submissions/okkkko/html_css_popup/img/calendar.svg
  submissions/okkkko/html_css_popup/img/envelope.svg
  submissions/okkkko/html_css_popup/img/file.svg
  submissions/okkkko/html_css_popup/img/keys.svg
  submissions/okkkko/html_css_popup/img/location.svg
  submissions/okkkko/html_css_popup/img/media-player.svg
  submissions/okkkko/html_css_popup/img/menu.svg
  submissions/okkkko/html_css_popup/img/notes.svg
  submissions/okkkko/html_css_popup/img/notification.svg
  submissions/okkkko/html_css_popup/img/online-translator.svg
  submissions/okkkko/html_css_popup/img/search-engine.svg
  submissions/okkkko/html_css_popup/img/song.svg
  submissions/okkkko/html_css_popup/img/speech-bubble.svg
  submissions/okkkko/html_css_popup/img/weather.svg
  submissions/okkkko/html_css_popup/index.html
  submissions/okkkko/html_css_popup/style.css
Labels: Hooli-style Popup

#155 hmtl-css-popup solution
  submissions/akulahere/html-css-popup/css/main.css
  submissions/akulahere/html-css-popup/css/normalize.css
  submissions/akulahere/html-css-popup/img/apps.png
  submissions/akulahere/html-css-popup/img/bell.png
  submissions/akulahere/html-css-popup/img/blogs.png
  submissions/akulahere/html-css-popup/img/calendar.png
  submissions/akulahere/html-css-popup/img/chat.png
  submissions/akulahere/html-css-popup/img/classroom.png
  submissions/akulahere/html-css-popup/img/collection.png
  submissions/akulahere/html-css-popup/img/contacts.png
  submissions/akulahere/html-css-popup/img/documents.png
  submissions/akulahere/html-css-popup/img/favicon.png
  submissions/akulahere/html-css-popup/img/files.png
  submissions/akulahere/html-css-popup/img/mail.png
  submissions/akulahere/html-css-popup/img/maps.png
  submissions/akulahere/html-css-popup/img/mars.png
  submissions/akulahere/html-css-popup/img/mic.png
  submissions/akulahere/html-css-popup/img/news.png
  submissions/akulahere/html-css-popup/img/photos.png
  submissions/akulahere/html-css-popup/img/popup-button.png
  submissions/akulahere/html-css-popup/img/promo.png
  submissions/akulahere/html-css-popup/img/search.png
  submissions/akulahere/html-css-popup/img/tanslation.png
  submissions/akulahere/html-css-popup/img/user-avatar.png
  submissions/akulahere/html-css-popup/img/videos.png
  submissions/akulahere/html-css-popup/index.html
Labels: Hooli-style Popup

#152 Add pre-oop
  submissions/VBystrov/pre-oop/index.js
Labels: JS pre-OOP

#158 Add solution for #5 HTML & CSS Practice
  submissions/Ant-C-tech/html-css-popup/img/app.svg
  submissions/Ant-C-tech/html-css-popup/img/bell.svg
  submissions/Ant-C-tech/html-css-popup/img/calendar-interface-symbol-tool.svg
  submissions/Ant-C-tech/html-css-popup/img/cat-in-black-silhouette.svg
  submissions/Ant-C-tech/html-css-popup/img/cat-smile.jpg
  submissions/Ant-C-tech/html-css-popup/img/chat.svg
  submissions/Ant-C-tech/html-css-popup/img/contact.svg
  submissions/Ant-C-tech/html-css-popup/img/document.svg
  submissions/Ant-C-tech/html-css-popup/img/folder.svg
  submissions/Ant-C-tech/html-css-popup/img/magnifier.svg
  submissions/Ant-C-tech/html-css-popup/img/mail.svg
  submissions/Ant-C-tech/html-css-popup/img/maps.svg
  submissions/Ant-C-tech/html-css-popup/img/mars.svg
  submissions/Ant-C-tech/html-css-popup/img/megaphone.svg
  submissions/Ant-C-tech/html-css-popup/img/menu.svg
  submissions/Ant-C-tech/html-css-popup/img/news-paper.svg
  submissions/Ant-C-tech/html-css-popup/img/photo-camera.svg
  submissions/Ant-C-tech/html-css-popup/img/stamps.svg
  submissions/Ant-C-tech/html-css-popup/img/translate.svg
  submissions/Ant-C-tech/html-css-popup/img/video-camera.svg
  submissions/Ant-C-tech/html-css-popup/img/whiteboard.svg
  submissions/Ant-C-tech/html-css-popup/img/writing.svg
  submissions/Ant-C-tech/html-css-popup/index.html
  submissions/Ant-C-tech/html-css-popup/styles/normalize.css
  submissions/Ant-C-tech/html-css-popup/styles/style.css
Labels: Hooli-style Popup

#157 JS DOM
  submissions/ustymchyk/js-dom/data.js
  submissions/ustymchyk/js-dom/favicon-96x96.png
  submissions/ustymchyk/js-dom/index.css
  submissions/ustymchyk/js-dom/index.html
  submissions/ustymchyk/js-dom/index.js
Labels: JS DOM

#167 OOP frogger game
  submissions/evgeniy24/object-oriented-frogger-game/app.js
Labels: JS OOP

#156 Task a-tiny-js-world
  submissions/BlueLamantine/a-tiny-js-world/index.js
Labels: JS pre-OOP

#129 Submit HTML-CSS-Popup
  submissions/zalevskyi/html-css-popup/css/popup.css
  submissions/zalevskyi/html-css-popup/popup.html
Labels: Hooli-style Popup

#137 Html css popup
  submissions/ik-web/html-css-popup/css/app.css
  submissions/ik-web/html-css-popup/icons/apps.png
  submissions/ik-web/html-css-popup/icons/bell.png
  submissions/ik-web/html-css-popup/icons/blogs.png
  submissions/ik-web/html-css-popup/icons/calendar.png
  submissions/ik-web/html-css-popup/icons/chat.png
  submissions/ik-web/html-css-popup/icons/classroom.png
  submissions/ik-web/html-css-popup/icons/collection.png
  submissions/ik-web/html-css-popup/icons/contacts.png
  submissions/ik-web/html-css-popup/icons/documents.png
  submissions/ik-web/html-css-popup/icons/favicon.png
  submissions/ik-web/html-css-popup/icons/files.png
  submissions/ik-web/html-css-popup/icons/mail.png
  submissions/ik-web/html-css-popup/icons/maps.png
  submissions/ik-web/html-css-popup/icons/mars.png
  submissions/ik-web/html-css-popup/icons/mic.png
  submissions/ik-web/html-css-popup/icons/news.png
  submissions/ik-web/html-css-popup/icons/photos.png
  submissions/ik-web/html-css-popup/icons/popup-button.png
  submissions/ik-web/html-css-popup/icons/promo.png
  submissions/ik-web/html-css-popup/icons/search.png
  submissions/ik-web/html-css-popup/icons/tanslation.png
  submissions/ik-web/html-css-popup/icons/videos.png
  submissions/ik-web/html-css-popup/img/main-bg.jpg
  submissions/ik-web/html-css-popup/img/user.jpg
  submissions/ik-web/html-css-popup/index.html
Labels: Hooli-style Popup

#132 html css popup
  submissions/ustymchyk/html-css-popup/index.css
  submissions/ustymchyk/html-css-popup/index.html
  submissions/ustymchyk/html-css-popup/popup-icons/apps.png
  submissions/ustymchyk/html-css-popup/popup-icons/bell.png
  submissions/ustymchyk/html-css-popup/popup-icons/blogs.png
  submissions/ustymchyk/html-css-popup/popup-icons/calendar.png
  submissions/ustymchyk/html-css-popup/popup-icons/chat.png
  submissions/ustymchyk/html-css-popup/popup-icons/classroom.png
  submissions/ustymchyk/html-css-popup/popup-icons/collection.png
  submissions/ustymchyk/html-css-popup/popup-icons/contacts.png
  submissions/ustymchyk/html-css-popup/popup-icons/documents.png
  submissions/ustymchyk/html-css-popup/popup-icons/favicon.png
  submissions/ustymchyk/html-css-popup/popup-icons/files.png
  submissions/ustymchyk/html-css-popup/popup-icons/mail.png
  submissions/ustymchyk/html-css-popup/popup-icons/maps.png
  submissions/ustymchyk/html-css-popup/popup-icons/mars.png
  submissions/ustymchyk/html-css-popup/popup-icons/mic.png
  submissions/ustymchyk/html-css-popup/popup-icons/news.png
  submissions/ustymchyk/html-css-popup/popup-icons/photos.png
  submissions/ustymchyk/html-css-popup/popup-icons/popup-button.png
  submissions/ustymchyk/html-css-popup/popup-icons/promo.png
  submissions/ustymchyk/html-css-popup/popup-icons/search.png
  submissions/ustymchyk/html-css-popup/popup-icons/tanslation.png
  submissions/ustymchyk/html-css-popup/popup-icons/videos.png
Labels: Hooli-style Popup

#109 added popup task
  submissions/alyonafuria/html-css_popup/index.html
  submissions/alyonafuria/html-css_popup/styles.css
Labels: Hooli-style Popup

#168 Hooli-style Popup practice
  submissions/phpslonuk/Popup/README.md
  submissions/phpslonuk/Popup/css/style.css
  submissions/phpslonuk/Popup/index.html
Labels: Hooli-style Popup

#172 Friends app
  submissions/HannaSyn/friends-app/index.html
  submissions/HannaSyn/friends-app/index.js
  submissions/HannaSyn/friends-app/style.css
Labels: Friends App

#164 List a tiny JS world by Lu-sure
  submissions/Lu-sure/tiny-JS-world/index.js
Labels: JS pre-OOP

#181 HTML & CSS practice: Hooli-style Popup
  submissions/UA-girl/task_html-css-popup/css/styles.css
  submissions/UA-girl/task_html-css-popup/index.html
Labels: Hooli-style Popup

#194 HTML & CSS practice: Hooli-style Popup
  submissions/tavor118sn/html-css-popup/index.html
  submissions/tavor118sn/html-css-popup/style.css
Labels: Hooli-style Popup

#124 tiny js with classes
  submissions/Nemooochka/tiny-js-upd/index.js
Labels: JS post-OOP

#170 html css popup
  submissions/Shrai-dev/html-css-popup/index.html
  submissions/Shrai-dev/html-css-popup/main.css
Labels: Hooli-style Popup

#160 DOM API is ready for review
  submissions/m-ruslan/js-dom/app.css
  submissions/m-ruslan/js-dom/app.js
  submissions/m-ruslan/js-dom/img/board_game.jpg
  submissions/m-ruslan/js-dom/img/book.gif
  submissions/m-ruslan/js-dom/img/favicon.png
  submissions/m-ruslan/js-dom/img/films.jpg
  submissions/m-ruslan/js-dom/img/ltr_book.png
  submissions/m-ruslan/js-dom/img/radio.jpg
  submissions/m-ruslan/js-dom/img/ring.png
  submissions/m-ruslan/js-dom/img/tv.jpg
  submissions/m-ruslan/js-dom/img/video_game.jpg
  submissions/m-ruslan/js-dom/index.html
Labels: JS DOM

#165 add popup task
  submissions/DaniaB24/html-css-popup/images/ads.png
  submissions/DaniaB24/html-css-popup/images/apps.jpg
  submissions/DaniaB24/html-css-popup/images/ava.jpg
  submissions/DaniaB24/html-css-popup/images/bell.png
  submissions/DaniaB24/html-css-popup/images/blogs.png
  submissions/DaniaB24/html-css-popup/images/calendar.png
  submissions/DaniaB24/html-css-popup/images/chat.png
  submissions/DaniaB24/html-css-popup/images/classroom.png
  submissions/DaniaB24/html-css-popup/images/collection.png
  submissions/DaniaB24/html-css-popup/images/contacts.png
  submissions/DaniaB24/html-css-popup/images/documents.png
  submissions/DaniaB24/html-css-popup/images/favicon.png
  submissions/DaniaB24/html-css-popup/images/files.png
  submissions/DaniaB24/html-css-popup/images/mail.png
  submissions/DaniaB24/html-css-popup/images/maps.png
  submissions/DaniaB24/html-css-popup/images/mars.png
  submissions/DaniaB24/html-css-popup/images/mic.png
  submissions/DaniaB24/html-css-popup/images/news.png
  submissions/DaniaB24/html-css-popup/images/photos.png
  submissions/DaniaB24/html-css-popup/images/search.png
  submissions/DaniaB24/html-css-popup/images/tanslation.png
  submissions/DaniaB24/html-css-popup/images/videos.png
  submissions/DaniaB24/html-css-popup/index.html
  submissions/DaniaB24/html-css-popup/style.css
Labels: Hooli-style Popup
