Repository kottans/frontend-2021-homeworks, pull requests merged in 2020-10, with the labels that each got.

#2 shramkoweb: add js-dom task
  submissions/shramkoweb/js-dom/index.html
  submissions/shramkoweb/js-dom/main.css
  submissions/shramkoweb/js-dom/main.js
Labels: JS DOM

#5 HTML-CSS-Popup — #done
  submissions/mustbefail/html-css-popup/index.html
  submissions/mustbefail/html-css-popup/style.css
  submissions/mustbefail/html-css-popup/svg/002-flag.svg
  submissions/mustbefail/html-css-popup/svg/003-tasks.svg
  submissions/mustbefail/html-css-popup/svg/005-presentation.svg
  submissions/mustbefail/html-css-popup/svg/007-briefcase.svg
  submissions/mustbefail/html-css-popup/svg/013-rating-2.svg
  submissions/mustbefail/html-css-popup/svg/016-trophy-1.svg
  submissions/mustbefail/html-css-popup/svg/021-employee-1.svg
  submissions/mustbefail/html-css-popup/svg/024-thinking.svg
  submissions/mustbefail/html-css-popup/svg/025-graduation.svg
  submissions/mustbefail/html-css-popup/svg/026-target.svg
  submissions/mustbefail/html-css-popup/svg/027-calendar.svg
  submissions/mustbefail/html-css-popup/svg/028-idea.svg
  submissions/mustbefail/html-css-popup/svg/029-stopwatch.svg
  submissions/mustbefail/html-css-popup/svg/031-ingots.svg
  submissions/mustbefail/html-css-popup/svg/032-diamond.svg
  submissions/mustbefail/html-css-popup/svg/033-padlock.svg
  submissions/mustbefail/html-css-popup/svg/034-bar-chart.svg
  submissions/mustbefail/html-css-popup/svg/037-employee-4.svg
  submissions/mustbefail/html-css-popup/svg/039-badge-1.svg
  submissions/mustbefail/html-css-popup/svg/041-goal-1.svg
  submissions/mustbefail/html-css-popup/svg/042-podium.svg
  submissions/mustbefail/html-css-popup/svg/043-medal.svg
  submissions/mustbefail/html-css-popup/svg/046-success-1.svg
  submissions/mustbefail/html-css-popup/svg/048-goal-3.svg
  submissions/mustbefail/html-css-popup/svg/049-medal-1.svg
  submissions/mustbefail/html-css-popup/svg/050-exam.svg
Labels: Hooli-style Popup

#8 Popup Stoyanova
  submissions/annStoyano/html-css-popup/css/style.min.css
  submissions/annStoyano/html-css-popup/css/style.min.css.map
  submissions/annStoyano/html-css-popup/index.html
  submissions/annStoyano/html-css-popup/popup-icons/apps.png
  submissions/annStoyano/html-css-popup/popup-icons/bell.png
  submissions/annStoyano/html-css-popup/popup-icons/blogs.png
  submissions/annStoyano/html-css-popup/popup-icons/calendar.png
  submissions/annStoyano/html-css-popup/popup-icons/chat.png
  submissions/annStoyano/html-css-popup/popup-icons/classroom.png
  submissions/annStoyano/html-css-popup/popup-icons/collection.png
  submissions/annStoyano/html-css-popup/popup-icons/contacts.png
  submissions/annStoyano/html-css-popup/popup-icons/documents.png
  submissions/annStoyano/html-css-popup/popup-icons/favicon.png
  submissions/annStoyano/html-css-popup/popup-icons/files.png
  submissions/annStoyano/html-css-popup/popup-icons/mail.png
  submissions/annStoyano/html-css-popup/popup-icons/maps.png
  submissions/annStoyano/html-css-popup/popup-icons/mars.png
  submissions/annStoyano/html-css-popup/popup-icons/mic.png
  submissions/annStoyano/html-css-popup/popup-icons/news.png
  submissions/annStoyano/html-css-popup/popup-icons/photos.png
  submissions/annStoyano/html-css-popup/popup-icons/popup-button.png
  submissions/annStoyano/html-css-popup/popup-icons/promo.png
  submissions/annStoyano/html-css-popup/popup-icons/search.png
  submissions/annStoyano/html-css-popup/popup-icons/tanslation.png
  submissions/annStoyano/html-css-popup/popup-icons/videos.png
  submissions/annStoyano/html-css-popup/scss/_general.scss
  submissions/annStoyano/html-css-popup/scss/style.scss
Labels: Hooli-style Popup

#3 shramkoweb: add tiny-JS-world task
  submissions/shramkoweb/pre-oop/index.js
Labels: js-pre-oop

#4 shramkoweb: add frog-game task
  submissions/shramkoweb/frog-game/app.js
Labels: js-oop

#9 Add html-css-popup-task from andrewklmn
  submissions/andrewklmn/html-css-popup/app.css
  submissions/andrewklmn/html-css-popup/img/bento_icon.png
  submissions/andrewklmn/html-css-popup/img/boooble_logo.png
  submissions/andrewklmn/html-css-popup/img/icon_bell.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/apps.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/bell.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/blogs.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/calendar.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/chat.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/classroom.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/collection.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/contacts.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/documents.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/favicon.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/files.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/mail.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/maps.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/mars.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/mic.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/news.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/photos.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/popup-button.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/promo.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/search.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/tanslation.png
  submissions/andrewklmn/html-css-popup/img/popup-icons/videos.png
  submissions/andrewklmn/html-css-popup/img/user_icon.png
  submissions/andrewklmn/html-css-popup/index.html
Labels: Hooli-style Popup

#13 add html-css-popup
  submissions/usides/html-css-popup/css/main.css
  submissions/usides/html-css-popup/css/reset.css
  submissions/usides/html-css-popup/img/app-audio.svg
  submissions/usides/html-css-popup/img/app-calendar.svg
  submissions/usides/html-css-popup/img/app-cat.svg
  submissions/usides/html-css-popup/img/app-fish.svg
  submissions/usides/html-css-popup/img/app-human.svg
  submissions/usides/html-css-popup/img/app-location.svg
  submissions/usides/html-css-popup/img/app-mail.svg
  submissions/usides/html-css-popup/img/app-meat.svg
  submissions/usides/html-css-popup/img/app-video.svg
  submissions/usides/html-css-popup/img/apps-grid.svg
  submissions/usides/html-css-popup/img/cat_bg.jpg
  submissions/usides/html-css-popup/img/cat_profile.png
  submissions/usides/html-css-popup/img/paw.svg
  submissions/usides/html-css-popup/index.html
Labels: Hooli-style Popup

#12 Hooli-style Popup task
  submissions/7SergSmith7/HTML-CSS-Popup/img/apps.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/avatar.jpg
  submissions/7SergSmith7/HTML-CSS-Popup/img/bell.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/blogs.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/calendar.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/chat.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/classroom.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/collection.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/contacts.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/documents.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/favicon.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/files.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/mail.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/maps.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/mars.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/mic.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/news.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/photos.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/popup-button.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/promo.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/search.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/tanslation.png
  submissions/7SergSmith7/HTML-CSS-Popup/img/videos.png
  submissions/7SergSmith7/HTML-CSS-Popup/index.html
  submissions/7SergSmith7/HTML-CSS-Popup/styles.css
Labels: Hooli-style Popup

#10 Review my html/css popup please
  submissions/Vas-P/popup/css/style.css
  submissions/Vas-P/popup/img/airbaloon.png
  submissions/Vas-P/popup/img/bell.png
  submissions/Vas-P/popup/img/blogs.png
  submissions/Vas-P/popup/img/bomb.png
  submissions/Vas-P/popup/img/cactus.png
  submissions/Vas-P/popup/img/calendar.png
  submissions/Vas-P/popup/img/camel.png
  submissions/Vas-P/popup/img/checkmark.png
  submissions/Vas-P/popup/img/cloud.png
  submissions/Vas-P/popup/img/copy.png
  submissions/Vas-P/popup/img/deadpool.png
  submissions/Vas-P/popup/img/documents.png
  submissions/Vas-P/popup/img/fridge.png
  submissions/Vas-P/popup/img/kottans.png
  submissions/Vas-P/popup/img/paragraph.png
  submissions/Vas-P/popup/img/popup-button.png
  submissions/Vas-P/popup/img/search.png
  submissions/Vas-P/popup/img/translation.png
  submissions/Vas-P/popup/img/videos.png
  submissions/Vas-P/popup/img/walle.png
  submissions/Vas-P/popup/img/war-god.png
  submissions/Vas-P/popup/index.html
Labels: Hooli-style Popup

#15 shramkoweb: add memory game
  submissions/shramkoweb/memory-game/index.html
  submissions/shramkoweb/memory-game/main.css
  submissions/shramkoweb/memory-game/main.js
Labels: Memory Pair Game

#1 added task frogger game
  submissions/chris-voitova/frogger-game/README.md
  submissions/chris-voitova/frogger-game/app.js
Labels: JS OOP

#23 natashafir task html-css-popup
  submissions/natashafir/html-css-popup/README.md
  submissions/natashafir/html-css-popup/css/.DS_Store
  submissions/natashafir/html-css-popup/css/style.css
  submissions/natashafir/html-css-popup/img/.DS_Store
  submissions/natashafir/html-css-popup/img/angular.png
  submissions/natashafir/html-css-popup/img/bell.png
  submissions/natashafir/html-css-popup/img/bg.jpg
  submissions/natashafir/html-css-popup/img/css.png
  submissions/natashafir/html-css-popup/img/git.png
  submissions/natashafir/html-css-popup/img/html.png
  submissions/natashafir/html-css-popup/img/js.png
  submissions/natashafir/html-css-popup/img/popup-button.png
  submissions/natashafir/html-css-popup/img/react.png
  submissions/natashafir/html-css-popup/img/ts.png
  submissions/natashafir/html-css-popup/img/user.png
  submissions/natashafir/html-css-popup/img/vue.png
  submissions/natashafir/html-css-popup/img/webpack.png
  submissions/natashafir/html-css-popup/index.html
Labels: Hooli-style Popup

#24 Dom api task
  submissions/mustbefail/dom-api-task/index.css
  submissions/mustbefail/dom-api-task/index.html
  submissions/mustbefail/dom-api-task/script.js
  submissions/mustbefail/dom-api-task/styles/body.css
  submissions/mustbefail/dom-api-task/styles/header.css
  submissions/mustbefail/dom-api-task/styles/main.css
  submissions/mustbefail/dom-api-task/styles/media.css
  submissions/mustbefail/dom-api-task/styles/sidebar.css
Labels: JS DOM

#17 html-css-popup
  .DS_Store
  submissions/.DS_Store
  submissions/krylenger/.DS_Store
  submissions/krylenger/html-css-popup/.DS_Store
  submissions/krylenger/html-css-popup/icons/002-kitty-46.png
  submissions/krylenger/html-css-popup/icons/003-kitty-45.png
  submissions/krylenger/html-css-popup/icons/004-idea.png
  submissions/krylenger/html-css-popup/icons/010-kitty-39.png
  submissions/krylenger/html-css-popup/icons/011-kitty-38.png
  submissions/krylenger/html-css-popup/icons/015-kitty-34.png
  submissions/krylenger/html-css-popup/icons/016-kitty-33.png
  submissions/krylenger/html-css-popup/icons/019-kitty-30.png
  submissions/krylenger/html-css-popup/icons/021-kitty-28.png
  submissions/krylenger/html-css-popup/icons/031-kitty-19.png
  submissions/krylenger/html-css-popup/icons/032-kitty-18.png
  submissions/krylenger/html-css-popup/icons/034-kitty-16.png
  submissions/krylenger/html-css-popup/icons/036-kitty-14.png
  submissions/krylenger/html-css-popup/icons/038-kitty-12.png
  submissions/krylenger/html-css-popup/icons/041-kitty-9.png
  submissions/krylenger/html-css-popup/icons/045-kitty-5.png
  submissions/krylenger/html-css-popup/icons/049-kitty-1.png
  submissions/krylenger/html-css-popup/icons/050-kitty.png
  submissions/krylenger/html-css-popup/icons/menu.png
  submissions/krylenger/html-css-popup/icons/notification.png
  submissions/krylenger/html-css-popup/icons/profile.jpg
  submissions/krylenger/html-css-popup/index.html
  submissions/krylenger/html-css-popup/style.css
Labels: Hooli-style Popup

#27 add HTML & CSS practice: Hooli-style Popup
  submissions/kikinovk/HTML_CSS_Popup/css/style.css
  submissions/kikinovk/HTML_CSS_Popup/favicon.ico
  submissions/kikinovk/HTML_CSS_Popup/image/apps.png
  submissions/kikinovk/HTML_CSS_Popup/image/bell-hover.png
  submissions/kikinovk/HTML_CSS_Popup/image/bell.png
  submissions/kikinovk/HTML_CSS_Popup/image/blogs.png
  submissions/kikinovk/HTML_CSS_Popup/image/calendar.png
  submissions/kikinovk/HTML_CSS_Popup/image/chat.png
  submissions/kikinovk/HTML_CSS_Popup/image/classroom.png
  submissions/kikinovk/HTML_CSS_Popup/image/collection.png
  submissions/kikinovk/HTML_CSS_Popup/image/contacts.png
  submissions/kikinovk/HTML_CSS_Popup/image/documents.png
  submissions/kikinovk/HTML_CSS_Popup/image/favicon.png
  submissions/kikinovk/HTML_CSS_Popup/image/files.png
  submissions/kikinovk/HTML_CSS_Popup/image/mail.png
  submissions/kikinovk/HTML_CSS_Popup/image/maps.png
  submissions/kikinovk/HTML_CSS_Popup/image/mars.png
  submissions/kikinovk/HTML_CSS_Popup/image/mic.png
  submissions/kikinovk/HTML_CSS_Popup/image/news.png
  submissions/kikinovk/HTML_CSS_Popup/image/photos.png
  submissions/kikinovk/HTML_CSS_Popup/image/popup-button-hover.png
  submissions/kikinovk/HTML_CSS_Popup/image/popup-button.png
  submissions/kikinovk/HTML_CSS_Popup/image/promo.png
  submissions/kikinovk/HTML_CSS_Popup/image/search.png
  submissions/kikinovk/HTML_CSS_Popup/image/tanslation.png
  submissions/kikinovk/HTML_CSS_Popup/image/user-hover.png
  submissions/kikinovk/HTML_CSS_Popup/image/user.png
  submissions/kikinovk/HTML_CSS_Popup/image/videos.png
  submissions/kikinovk/HTML_CSS_Popup/index.html
Labels: Hooli-style Popup

#26 Html css popup task
  submissions/youhymuk/html-css-popup/img/apps.png
  submissions/youhymuk/html-css-popup/img/bell.png
  submissions/youhymuk/html-css-popup/img/blogs.png
  submissions/youhymuk/html-css-popup/img/calendar.png
  submissions/youhymuk/html-css-popup/img/chat.png
  submissions/youhymuk/html-css-popup/img/classroom.png
  submissions/youhymuk/html-css-popup/img/collection.png
  submissions/youhymuk/html-css-popup/img/contacts.png
  submissions/youhymuk/html-css-popup/img/documents.png
  submissions/youhymuk/html-css-popup/img/favicon.png
  submissions/youhymuk/html-css-popup/img/files.png
  submissions/youhymuk/html-css-popup/img/mail.png
  submissions/youhymuk/html-css-popup/img/maps.png
  submissions/youhymuk/html-css-popup/img/mars.png
  submissions/youhymuk/html-css-popup/img/mic.png
  submissions/youhymuk/html-css-popup/img/news.png
  submissions/youhymuk/html-css-popup/img/photos.png
  submissions/youhymuk/html-css-popup/img/popup-button.png
  submissions/youhymuk/html-css-popup/img/promo.png
  submissions/youhymuk/html-css-popup/img/search.png
  submissions/youhymuk/html-css-popup/img/tanslation.png
  submissions/youhymuk/html-css-popup/img/videos.png
  submissions/youhymuk/html-css-popup/index.html
  submissions/youhymuk/html-css-popup/styles/styles.css
  submissions/youhymuk/html-css-popup/styles/styles.css.map
  submissions/youhymuk/html-css-popup/styles/styles.scss
Labels: Hooli-style Popup

#21 shramkoweb: friends app
  submissions/shramkoweb/friends-app/index.html
  submissions/shramkoweb/friends-app/script.js
  submissions/shramkoweb/friends-app/style.css
  submissions/shramkoweb/friends-app/utils.js
Labels: Friends App

#16 Add files in popup_task
  submissions/HannaSyn/Popup/assets/bell.svg
  submissions/HannaSyn/Popup/assets/bg.png
  submissions/HannaSyn/Popup/assets/mail.svg
  submissions/HannaSyn/Popup/assets/menu.svg
  submissions/HannaSyn/Popup/assets/popup-icons/apps.png
  submissions/HannaSyn/Popup/assets/popup-icons/blogs.png
  submissions/HannaSyn/Popup/assets/popup-icons/calendar.png
  submissions/HannaSyn/Popup/assets/popup-icons/chat.png
  submissions/HannaSyn/Popup/assets/popup-icons/classroom.png
  submissions/HannaSyn/Popup/assets/popup-icons/collection.png
  submissions/HannaSyn/Popup/assets/popup-icons/contacts.png
  submissions/HannaSyn/Popup/assets/popup-icons/documents.png
  submissions/HannaSyn/Popup/assets/popup-icons/files.png
  submissions/HannaSyn/Popup/assets/popup-icons/mail.png
  submissions/HannaSyn/Popup/assets/popup-icons/maps.png
  submissions/HannaSyn/Popup/assets/popup-icons/mars.png
  submissions/HannaSyn/Popup/assets/popup-icons/mic.png
  submissions/HannaSyn/Popup/assets/popup-icons/news.png
  submissions/HannaSyn/Popup/assets/popup-icons/photos.png
  submissions/HannaSyn/Popup/assets/popup-icons/promo.png
  submissions/HannaSyn/Popup/assets/popup-icons/search.png
  submissions/HannaSyn/Popup/assets/popup-icons/tanslation.png
  submissions/HannaSyn/Popup/assets/popup-icons/videos.png
  submissions/HannaSyn/Popup/assets/user.svg
  submissions/HannaSyn/Popup/css/style.css
  submissions/HannaSyn/Popup/index.html
Labels: Hooli-style Popup

#32 Add .gitignore
  .gitignore
Labels: chores

#33 Remove .DS_Store as this may affect other contributors' dev experience
  .DS_Store
  submissions/.DS_Store
Labels: chores

#19 OOP Exercise
  submissions/chris-voitova/oop/index.js
Labels: JS post-OOP

#25 task html-popup is done
  submissions/ses3332002/html-css-popup/icons/apps.png
  submissions/ses3332002/html-css-popup/icons/apps_grid.png
  submissions/ses3332002/html-css-popup/icons/bell.png
  submissions/ses3332002/html-css-popup/icons/blogs.png
  submissions/ses3332002/html-css-popup/icons/calendar.png
  submissions/ses3332002/html-css-popup/icons/chat.png
  submissions/ses3332002/html-css-popup/icons/classroom.png
  submissions/ses3332002/html-css-popup/icons/collection.png
  submissions/ses3332002/html-css-popup/icons/contacts.png
  submissions/ses3332002/html-css-popup/icons/documents.png
  submissions/ses3332002/html-css-popup/icons/files.png
  submissions/ses3332002/html-css-popup/icons/horn.png
  submissions/ses3332002/html-css-popup/icons/mail.png
  submissions/ses3332002/html-css-popup/icons/maps.png
  submissions/ses3332002/html-css-popup/icons/mars.png
  submissions/ses3332002/html-css-popup/icons/mic.png
  submissions/ses3332002/html-css-popup/icons/news.png
  submissions/ses3332002/html-css-popup/icons/photos.png
  submissions/ses3332002/html-css-popup/icons/search.png
  submissions/ses3332002/html-css-popup/icons/tanslation.png
  submissions/ses3332002/html-css-popup/icons/user_photo.jpg
  submissions/ses3332002/html-css-popup/icons/videos.png
  submissions/ses3332002/html-css-popup/index.html
  submissions/ses3332002/html-css-popup/style.css
Labels: Hooli-style Popup

#37 Tiny js world
  submissions/mustbefail/tiny-js-world/index.js
Labels: JS pre-OOP

#31 Add: DOM API Task from andrewklmn
  submissions/andrewklmn/README.md
  submissions/andrewklmn/html-css-popup/README.md
  submissions/andrewklmn/task_js_dom/README.md
  submissions/andrewklmn/task_js_dom/app.css
  submissions/andrewklmn/task_js_dom/app.js
  submissions/andrewklmn/task_js_dom/img/actress.jpg
  submissions/andrewklmn/task_js_dom/img/adult.jpg
  submissions/andrewklmn/task_js_dom/img/beautiful-blonde.jpg
  submissions/andrewklmn/task_js_dom/img/digger.jpg
  submissions/andrewklmn/task_js_dom/img/flower.jpg
  submissions/andrewklmn/task_js_dom/img/hipster.png
  submissions/andrewklmn/task_js_dom/img/overview.jpg
  submissions/andrewklmn/task_js_dom/img/stuff_overview.jpg
  submissions/andrewklmn/task_js_dom/index.html
Labels: JS DOM

#30 Syakovenko pop up
  submissions/SerhiiYakovenko/html-css-popup/README.md
  submissions/SerhiiYakovenko/html-css-popup/css/style.css
  submissions/SerhiiYakovenko/html-css-popup/img/background.jpg
  submissions/SerhiiYakovenko/html-css-popup/img/discord.svg
  submissions/SerhiiYakovenko/html-css-popup/img/facebook.svg
  submissions/SerhiiYakovenko/html-css-popup/img/favicon.png
  submissions/SerhiiYakovenko/html-css-popup/img/forum.svg
  submissions/SerhiiYakovenko/html-css-popup/img/instagram.svg
  submissions/SerhiiYakovenko/html-css-popup/img/logo.svg
  submissions/SerhiiYakovenko/html-css-popup/img/pc.svg
  submissions/SerhiiYakovenko/html-css-popup/img/ps4.svg
  submissions/SerhiiYakovenko/html-css-popup/img/twitch.svg
  submissions/SerhiiYakovenko/html-css-popup/img/twitter.svg
  submissions/SerhiiYakovenko/html-css-popup/img/vk.svg
  submissions/SerhiiYakovenko/html-css-popup/img/world.svg
  submissions/SerhiiYakovenko/html-css-popup/img/xbox.svg
  submissions/SerhiiYakovenko/html-css-popup/img/youtube.svg
  submissions/SerhiiYakovenko/html-css-popup/index.html
Labels: Hooli-style Popup

#11 Popup task
  submissions/lisnyak-o/popup-kottans/css/reset.css
  submissions/lisnyak-o/popup-kottans/css/style.css
  submissions/lisnyak-o/popup-kottans/favicon.png
  submissions/lisnyak-o/popup-kottans/images/apps.png
  submissions/lisnyak-o/popup-kottans/images/bell.png
  submissions/lisnyak-o/popup-kottans/images/blogs.png
  submissions/lisnyak-o/popup-kottans/images/calendar.png
  submissions/lisnyak-o/popup-kottans/images/chat.png
  submissions/lisnyak-o/popup-kottans/images/classroom.png
  submissions/lisnyak-o/popup-kottans/images/collection.png
  submissions/lisnyak-o/popup-kottans/images/contacts.png
  submissions/lisnyak-o/popup-kottans/images/documents.png
  submissions/lisnyak-o/popup-kottans/images/files.png
  submissions/lisnyak-o/popup-kottans/images/mail.png
  submissions/lisnyak-o/popup-kottans/images/maps.png
  submissions/lisnyak-o/popup-kottans/images/mars.png
  submissions/lisnyak-o/popup-kottans/images/mic.png
  submissions/lisnyak-o/popup-kottans/images/news.png
  submissions/lisnyak-o/popup-kottans/images/photo.jpg
  submissions/lisnyak-o/popup-kottans/images/photos.png
  submissions/lisnyak-o/popup-kottans/images/popup-button.png
  submissions/lisnyak-o/popup-kottans/images/promo.png
  submissions/lisnyak-o/popup-kottans/images/search.png
  submissions/lisnyak-o/popup-kottans/images/translation.png
  submissions/lisnyak-o/popup-kottans/images/videos.png
  submissions/lisnyak-o/popup-kottans/index.html
Labels: Hooli-style Popup

#29 Html css popup Demo
  submissions/evgeniy24/html-css-popup-demo/.gitignore
  submissions/evgeniy24/html-css-popup-demo/README.md
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-144x144.png
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-192x192.png
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-36x36.png
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-48x48.png
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-72x72.png
  submissions/evgeniy24/html-css-popup-demo/favicons/android-icon-96x96.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-114x114.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-120x120.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-144x144.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-152x152.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-180x180.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-57x57.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-60x60.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-72x72.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-76x76.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon-precomposed.png
  submissions/evgeniy24/html-css-popup-demo/favicons/apple-icon.png
  submissions/evgeniy24/html-css-popup-demo/favicons/browserconfig.xml
  submissions/evgeniy24/html-css-popup-demo/favicons/favicon-16x16.png
  submissions/evgeniy24/html-css-popup-demo/favicons/favicon-32x32.png
  submissions/evgeniy24/html-css-popup-demo/favicons/favicon-96x96.png
  submissions/evgeniy24/html-css-popup-demo/favicons/favicon.ico
  submissions/evgeniy24/html-css-popup-demo/favicons/manifest.json
  submissions/evgeniy24/html-css-popup-demo/favicons/ms-icon-144x144.png
  submissions/evgeniy24/html-css-popup-demo/favicons/ms-icon-150x150.png
  submissions/evgeniy24/html-css-popup-demo/favicons/ms-icon-310x310.png
  submissions/evgeniy24/html-css-popup-demo/favicons/ms-icon-70x70.png
  submissions/evgeniy24/html-css-popup-demo/img/account.png
  submissions/evgeniy24/html-css-popup-demo/img/blogger.png
  submissions/evgeniy24/html-css-popup-demo/img/business.png
  submissions/evgeniy24/html-css-popup-demo/img/calendar.png
  submissions/evgeniy24/html-css-popup-demo/img/contacts.png
  submissions/evgeniy24/html-css-popup-demo/img/docs.png
  submissions/evgeniy24/html-css-popup-demo/img/drive.png
  submissions/evgeniy24/html-css-popup-demo/img/earth.png
  submissions/evgeniy24/html-css-popup-demo/img/icons8-bell-48.png
  submissions/evgeniy24/html-css-popup-demo/img/icons8-squared-menu-48.png
  submissions/evgeniy24/html-css-popup-demo/img/keep.png
  submissions/evgeniy24/html-css-popup-demo/img/man.png
  submissions/evgeniy24/html-css-popup-demo/img/map.png
  submissions/evgeniy24/html-css-popup-demo/img/o-plus.png
  submissions/evgeniy24/html-css-popup-demo/img/omail.png
  submissions/evgeniy24/html-css-popup-demo/img/photos.png
  submissions/evgeniy24/html-css-popup-demo/img/play.png
  submissions/evgeniy24/html-css-popup-demo/img/search.png
  submissions/evgeniy24/html-css-popup-demo/img/translate.png
  submissions/evgeniy24/html-css-popup-demo/img/youtube.png
  submissions/evgeniy24/html-css-popup-demo/index.html
  submissions/evgeniy24/html-css-popup-demo/prepros.config
  submissions/evgeniy24/html-css-popup-demo/styles/style.css
  submissions/evgeniy24/html-css-popup-demo/styles/style.css.map
  submissions/evgeniy24/html-css-popup-demo/styles/style.scss
Labels: Hooli-style Popup

#28 Html css popup
  submissions/nadsatt/html-css-popup/images/user-avatar.jpg
  submissions/nadsatt/html-css-popup/index.html
  submissions/nadsatt/html-css-popup/style.css
Labels: Hooli-style Popup

#34 dom-api task done
  submissions/ses3332002/dom/fonts/MontserratAlternates-Regular.woff2
  submissions/ses3332002/dom/img/bad.jpg
  submissions/ses3332002/dom/img/ben.jpg
  submissions/ses3332002/dom/img/dangerous.jpg
  submissions/ses3332002/dom/img/forever_michael.jpg
  submissions/ses3332002/dom/img/gtbt.jpg
  submissions/ses3332002/dom/img/history.jpg
  submissions/ses3332002/dom/img/invincible.jpg
  submissions/ses3332002/dom/img/michael.jpg
  submissions/ses3332002/dom/img/mj.jpg
  submissions/ses3332002/dom/img/music_and_me.jpg
  submissions/ses3332002/dom/img/off_the_wall.jpg
  submissions/ses3332002/dom/img/thriller.jpg
  submissions/ses3332002/dom/img/xscape.jpg
  submissions/ses3332002/dom/index.html
  submissions/ses3332002/dom/script.js
  submissions/ses3332002/dom/style.css
Labels: JS DOM

#35 Dom api task
  submissions/5mountains/dom-api-task/css/style.css
  submissions/5mountains/dom-api-task/data/data.json
  submissions/5mountains/dom-api-task/images/banana.png
  submissions/5mountains/dom-api-task/images/butter.png
  submissions/5mountains/dom-api-task/images/maple.png
  submissions/5mountains/dom-api-task/images/strawberry.png
  submissions/5mountains/dom-api-task/index.html
  submissions/5mountains/dom-api-task/js/main.js
Labels: JS DOM
