Repository kottans/frontend-2021-homeworks, pull requests merged in 2020-12, with the labels that each got.

#190 JS Post OOP
  submissions/ustymchyk/js-post-oop/index.js
Labels: JS post-OOP, reference-code

#120 A Tiny JS World
  submissions/7SergSmith7/Tiny JS World/index.js
Labels: JS pre-OOP

#161 Tiny js world
  submissions/ses3332002/tiny-js-world/index.js
Labels: JS pre-OOP

#193 DOM API: practical task done
  submissions/lalalilulu/dom-api-menu/index.html
  submissions/lalalilulu/dom-api-menu/script.js
  submissions/lalalilulu/dom-api-menu/style.css
Labels: JS DOM

#187 Add: friends-app by andrewklmn
  submissions/andrewklmn/friends-app/app.css
  submissions/andrewklmn/friends-app/app.js
  submissions/andrewklmn/friends-app/images/reset_active.png
  submissions/andrewklmn/friends-app/images/reset_hover.png
  submissions/andrewklmn/friends-app/images/reset_off.png
  submissions/andrewklmn/friends-app/images/reset_on.png
  submissions/andrewklmn/friends-app/images/three-dots.svg
  submissions/andrewklmn/friends-app/index.html
Labels: Friends App

#195 Memory game
  submissions/ustymchyk/memory-pair-game/assets/pokeball.png
  submissions/ustymchyk/memory-pair-game/favicon-96x96.png
  submissions/ustymchyk/memory-pair-game/index.css
  submissions/ustymchyk/memory-pair-game/index.html
  submissions/ustymchyk/memory-pair-game/index.js
Labels: Memory Pair Game

#174 DOM JS
  submissions/zalevskyi/dom/css/app.css
  submissions/zalevskyi/dom/index.html
  submissions/zalevskyi/dom/js/app.js
Labels: JS DOM

#191 Memory-pair-game
  submissions/AnnaStoyano/memory-pair-game/index.html
  submissions/AnnaStoyano/memory-pair-game/index.js
  submissions/AnnaStoyano/memory-pair-game/style.css
Labels: Memory Pair Game

#197 Add js-dom task for review
  submissions/AndriiZahumnyi/js-dom/css/main_style.css
  submissions/AndriiZahumnyi/js-dom/index.html
  submissions/AndriiZahumnyi/js-dom/script/index.js
Labels: JS DOM

#199 add html-css-popup
  submissions/alstep07/html-css-popup/index.html
  submissions/alstep07/html-css-popup/style.css
Labels: Hooli-style Popup

#97 Dragalur task HTML-CSS-Popup
  submissions/dragalur/HTML-CSS-Popup/Image/apps.png
  submissions/dragalur/HTML-CSS-Popup/Image/bell.png
  submissions/dragalur/HTML-CSS-Popup/Image/blogs.png
  submissions/dragalur/HTML-CSS-Popup/Image/calendar.png
  submissions/dragalur/HTML-CSS-Popup/Image/chat.png
  submissions/dragalur/HTML-CSS-Popup/Image/classroom.png
  submissions/dragalur/HTML-CSS-Popup/Image/collection.png
  submissions/dragalur/HTML-CSS-Popup/Image/contacts.png
  submissions/dragalur/HTML-CSS-Popup/Image/documents.png
  submissions/dragalur/HTML-CSS-Popup/Image/favicon.png
  submissions/dragalur/HTML-CSS-Popup/Image/files.png
  submissions/dragalur/HTML-CSS-Popup/Image/mail.png
  submissions/dragalur/HTML-CSS-Popup/Image/maps.png
  submissions/dragalur/HTML-CSS-Popup/Image/mars.png
  submissions/dragalur/HTML-CSS-Popup/Image/mic.png
  submissions/dragalur/HTML-CSS-Popup/Image/news.png
  submissions/dragalur/HTML-CSS-Popup/Image/photos.png
  submissions/dragalur/HTML-CSS-Popup/Image/popup-button.png
  submissions/dragalur/HTML-CSS-Popup/Image/promo.png
  submissions/dragalur/HTML-CSS-Popup/Image/search.png
  submissions/dragalur/HTML-CSS-Popup/Image/tanslation.png
  submissions/dragalur/HTML-CSS-Popup/Image/videos.png
  submissions/dragalur/HTML-CSS-Popup/index.html
  submissions/dragalur/HTML-CSS-Popup/style.css
Labels: Hooli-style Popup

#185 JS pre-OOP
  submissions/zalevskyi/a-tiny-js-world/index.js
Labels: JS pre-OOP

#207 Building a Tiny JS World (Pre OOP)
  submissions/UA-girl/task_pre-oop/index.js
Labels: JS pre-OOP

#218 A tiny JS world task by sergesd
  submissions/sergesd/tiny-js-world/index.js
Labels: JS pre-OOP

#200 A Tiny JS World pre-oop task
  submissions/lalalilulu/tiny-world-pre-oop/index.js
Labels: JS pre-OOP

#154 + frogger game config;
  submissions/RomanSaiko/frogger/app.js
Labels: JS OOP

#134 Object-Oriented JavaScript - practice
  submissions/iakow/object-oriented-js/app.js
Labels: JS OOP

#127 Frogger
  submissions/AnnaStoyano/frogger/app.js
Labels: JS OOP

#180 frogger game
  submissions/ustymchyk/js-oop/app.js
Labels: JS OOP

#223 add frogger-game task
  submissions/7SergSmith7/Frogger-game/app.js
Labels: JS OOP

#225 docs: Add instructions on publishing an app
  img/publication-0-project-settings.png
  img/publication-1-github-pages-settings.png
  img/publication-2-project-website.png
  publish-your-app.md
Labels: chores

#215 Task js oop
  submissions/UA-girl/task_js_oop/app.js
Labels: JS OOP

#177 frogger-game
  submissions/Nemooochka/frogger-game/app.js
Labels: JS OOP

#176 Add OOP
  submissions/VBystrov/task_js_oop/app.js
Labels: JS OOP

#184 tiny js worls is ready for review
  submissions/m-ruslan/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#216 JS OOP Exercise
  submissions/UA-girl/task_js_oop_exersise/index.js
Labels: JS post-OOP

#186 Dom api task
  submissions/smillims/js-dom/css/media.css
  submissions/smillims/js-dom/css/style.css
  submissions/smillims/js-dom/fonts/Thewitcher-jnOj.eot
  submissions/smillims/js-dom/fonts/Thewitcher-jnOj.otf
  submissions/smillims/js-dom/fonts/Thewitcher-jnOj.svg
  submissions/smillims/js-dom/fonts/Thewitcher-jnOj.ttf
  submissions/smillims/js-dom/fonts/Thewitcher-jnOj.woff
  submissions/smillims/js-dom/img/background/background.jpg
  submissions/smillims/js-dom/img/background/ciri.jpg
  submissions/smillims/js-dom/img/background/geralt.jpg
  submissions/smillims/js-dom/img/background/triss.jpg
  submissions/smillims/js-dom/img/background/yennefer.jpg
  submissions/smillims/js-dom/index.html
  submissions/smillims/js-dom/script.js
Labels: JS DOM

#198 Add popup_checkout task
  submissions/Roophee/Popup_checkbox/css/_misc/normalize.css
  submissions/Roophee/Popup_checkbox/css/_misc/normalize.css.map
  submissions/Roophee/Popup_checkbox/css/_misc/normalize.scss
  submissions/Roophee/Popup_checkbox/css/main.css
  submissions/Roophee/Popup_checkbox/css/main.css.map
  submissions/Roophee/Popup_checkbox/css/main.scss
  submissions/Roophee/Popup_checkbox/img/favicon.png
  submissions/Roophee/Popup_checkbox/index.html
Labels: Hooli-style Popup

#237 A tiny js world
  submissions/Shrai-dev/a-tiny-js-world/index.js
Labels: JS pre-OOP

#208 Pokemons app
  submissions/ustymchyk/friends-app/css/btn-list.css
  submissions/ustymchyk/friends-app/css/cards.css
  submissions/ustymchyk/friends-app/css/header.css
  submissions/ustymchyk/friends-app/css/index.css
  submissions/ustymchyk/friends-app/css/search.css
  submissions/ustymchyk/friends-app/css/sidebar.css
  submissions/ustymchyk/friends-app/favicon-96x96.png
  submissions/ustymchyk/friends-app/index.html
  submissions/ustymchyk/friends-app/js/api.js
  submissions/ustymchyk/friends-app/js/cards-component.js
  submissions/ustymchyk/friends-app/js/components.js
  submissions/ustymchyk/friends-app/js/events.js
  submissions/ustymchyk/friends-app/js/index.js
  submissions/ustymchyk/friends-app/js/observer.js
  submissions/ustymchyk/friends-app/js/sidebar-component.js
Labels: Friends App

#206 Dom api task
  submissions/UA-girl/task_js_dom/css/styles.css
  submissions/UA-girl/task_js_dom/index.html
  submissions/UA-girl/task_js_dom/js/script.js
Labels: JS DOM

#203 chores(pull_request_template): change instructions and link templates
  .github/pull_request_template.md
Labels: chores

#246 JS pre OOP
  submissions/ustymchyk/js-pre-oop/index.js
Labels: JS pre-OOP

#221 Add JS DOM task
  submissions/kt-std/js-dom/css/mobile.css
  submissions/kt-std/js-dom/css/style.css
  submissions/kt-std/js-dom/index.html
  submissions/kt-std/js-dom/js/script.js
Labels: JS DOM

#251 added dom task
  submissions/chris-voitova/dom/index.html
  submissions/chris-voitova/dom/script.js
  submissions/chris-voitova/dom/style.css
Labels: JS DOM

#226 Task a-tiny-js-world (oop es6 classes) added
  submissions/BlueLamantine/oop/index.js
Labels: JS post-OOP

#178 Task js oop
  submissions/webdevtoday/task_js_oop/app.js
Labels: JS OOP

#219 added files to dom_task branch
  submissions/TaniaBondarenko/dom_task/images/apr.jpg
  submissions/TaniaBondarenko/dom_task/images/aug.jpg
  submissions/TaniaBondarenko/dom_task/images/dec.jpg
  submissions/TaniaBondarenko/dom_task/images/feb.jpg
  submissions/TaniaBondarenko/dom_task/images/jan.jpg
  submissions/TaniaBondarenko/dom_task/images/july.jpg
  submissions/TaniaBondarenko/dom_task/images/june.jpg
  submissions/TaniaBondarenko/dom_task/images/mar.jpg
  submissions/TaniaBondarenko/dom_task/images/may.jpg
  submissions/TaniaBondarenko/dom_task/images/music-notes.jpg
  submissions/TaniaBondarenko/dom_task/images/nov.jpg
  submissions/TaniaBondarenko/dom_task/images/oct.jpg
  submissions/TaniaBondarenko/dom_task/images/sep.jpg
  submissions/TaniaBondarenko/dom_task/images/sheet_music.jpg
  submissions/TaniaBondarenko/dom_task/index.html
  submissions/TaniaBondarenko/dom_task/my_javascript.js
  submissions/TaniaBondarenko/dom_task/sounds/apr.mp3
  submissions/TaniaBondarenko/dom_task/sounds/aug.mp3
  submissions/TaniaBondarenko/dom_task/sounds/dec.mp3
  submissions/TaniaBondarenko/dom_task/sounds/feb.mp3
  submissions/TaniaBondarenko/dom_task/sounds/jan.mp3
  submissions/TaniaBondarenko/dom_task/sounds/jul.mp3
  submissions/TaniaBondarenko/dom_task/sounds/jun.mp3
  submissions/TaniaBondarenko/dom_task/sounds/mar.mp3
  submissions/TaniaBondarenko/dom_task/sounds/may.mp3
  submissions/TaniaBondarenko/dom_task/sounds/nov.mp3
  submissions/TaniaBondarenko/dom_task/sounds/oct.mp3
  submissions/TaniaBondarenko/dom_task/sounds/sep.mp3
  submissions/TaniaBondarenko/dom_task/styles.css
Labels: JS DOM

#231 html-css-popup
  submissions/4zorbin/html-css-popup/index.html
  submissions/4zorbin/html-css-popup/style.css
Labels: Hooli-style Popup

#232 Html css popup
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/apps.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/bell.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/blogs.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/calendar.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/chat.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/classroom.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/collection.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/contacts.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/documents.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/elon-musk.jpeg
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/favicon.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/files.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/mail.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/maps.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/mars.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/mic.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/news.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/photos.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/popup-button.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/promo.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/search.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/tanslation.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/img/videos.png
  submissions/maxim-zabolotny/HTML-CSS-Popup/index.html
  submissions/maxim-zabolotny/HTML-CSS-Popup/style.css
Labels: Hooli-style Popup

#243 Html css popup
  submissions/yaripey/html-css-popup/README.md
  submissions/yaripey/html-css-popup/css/main.css
  submissions/yaripey/html-css-popup/index.html
Labels: Hooli-style Popup

#229 Html&CSS Popup
  submissions/strumerlz/html-css-popup/index.html
  submissions/strumerlz/html-css-popup/style.css
Labels: Hooli-style Popup

#188 HTML&CSS Popup task
  submissions/kt-std/html-css-popup/css/style.css
  submissions/kt-std/html-css-popup/index.html
Labels: Hooli-style Popup

#171 Friends App - #done
  submissions/evgenii-del/friends-app/css/style.css
  submissions/evgenii-del/friends-app/index.html
  submissions/evgenii-del/friends-app/js/main.js
Labels: Friends App

#238 A Tiny JS World task
  submissions/ORybka/a-tiny-js-world/index.js
Labels: JS pre-OOP

#241 Memory game task
  submissions/UA-girl/task_memory_game/css/style.css
  submissions/UA-girl/task_memory_game/index.html
  submissions/UA-girl/task_memory_game/js/index.js
Labels: Memory Pair Game

#236 JS DOM task
  submissions/vakulinina/js-dom/index.html
  submissions/vakulinina/js-dom/script.js
  submissions/vakulinina/js-dom/style.css
Labels: JS DOM

#212 Frogger Game is ready for review
  submissions/m-ruslan/js-oop-practice/app.js
Labels: JS OOP

#139 Object oriented js task
  submissions/kikinovk/frogger-game/app.js
Labels: JS OOP

#228 Tiny JS World task
  submissions/kt-std/tiny-js-world/index.js
Labels: JS pre-OOP

#217 Add solution for task tiny-js-world
  submissions/Ant-C-tech/tiny-js-world/index.js
Labels: JS pre-OOP

#209 The Frogger-like game implementation
  submissions/lalalilulu/frogger-game/app.js
Labels: JS OOP

#205 Task frogger game added
  submissions/BlueLamantine/task-js-opp/app.js
Labels: JS OOP

#258 Task js dom
  submissions/alstep07/task-js-dom/app.js
  submissions/alstep07/task-js-dom/data.js
  submissions/alstep07/task-js-dom/index.html
  submissions/alstep07/task-js-dom/style.css
Labels: JS DOM

#235 OOP exercise: Tiny JS world task improved
  submissions/lalalilulu/tiny-world-post-oop/index.js
Labels: JS post-OOP

#253 add tiny-js-world
  submissions/alstep07/tiny-js-world/index.js
Labels: JS pre-OOP

#244 Add OOP exercise
  submissions/VBystrov/tiny-world-oop/index.js
Labels: JS post-OOP

#192 Oop exercise
  submissions/webdevtoday/oop_exercise/index.js
Labels: JS post-OOP

#224 OOP-exercise (Tiny-es6-world)
  submissions/iakow/OOP-exercise/index.js
Labels: JS post-OOP

#260 f3d0t Html-css-popup HomeWork
  submissions/f3d0t/html-css-popup/css/style.css
  submissions/f3d0t/html-css-popup/img/apps.png
  submissions/f3d0t/html-css-popup/img/bell.png
  submissions/f3d0t/html-css-popup/img/blogs.png
  submissions/f3d0t/html-css-popup/img/calendar.png
  submissions/f3d0t/html-css-popup/img/chat.png
  submissions/f3d0t/html-css-popup/img/classroom.png
  submissions/f3d0t/html-css-popup/img/contacts.png
  submissions/f3d0t/html-css-popup/img/favicon.png
  submissions/f3d0t/html-css-popup/img/files.png
  submissions/f3d0t/html-css-popup/img/mail.png
  submissions/f3d0t/html-css-popup/img/maps.png
  submissions/f3d0t/html-css-popup/img/news.png
  submissions/f3d0t/html-css-popup/img/popup-button.png
  submissions/f3d0t/html-css-popup/img/search.png
  submissions/f3d0t/html-css-popup/img/tanslation.png
  submissions/f3d0t/html-css-popup/index.html
Labels: Hooli-style Popup

#263 Task js oop
  submissions/alstep07/task-js-oop/app.js
Labels: JS OOP

#201 OOP
  submissions/natashafir/oop/app.js
Labels: JS OOP

#250 a-tiny-JS-world-done by LGeorge007
  submissions/LGeorge007/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#266 Hooli-style-Popup-fix-bug
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/apps.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/author.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/bell.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/blogs.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/calendar.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/chat.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/classroom.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/collection.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/contacts.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/documents.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/favicon.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/files.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/mail.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/maps.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/mars.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/mic.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/news.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/photos.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/popup-button.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/promo.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/search.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/tanslation.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/icons/videos.png
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/index.html
  submissions/SkirnevskyiAleksandr/HTML-CSS-Popup/style.css
Labels: Hooli-style Popup

#204 Initial commit to html-css-popup
  submissions/Jigsaff/html-css-popup/css/style.css
  submissions/Jigsaff/html-css-popup/favicon.ico
  submissions/Jigsaff/html-css-popup/img/001-santa.svg
  submissions/Jigsaff/html-css-popup/img/004-christmas-bell.svg
  submissions/Jigsaff/html-css-popup/img/005-snowman.svg
  submissions/Jigsaff/html-css-popup/img/008-sleigh.svg
  submissions/Jigsaff/html-css-popup/img/010-christmas-tree.svg
  submissions/Jigsaff/html-css-popup/img/011-gingerbread-man.svg
  submissions/Jigsaff/html-css-popup/img/012-winter-gloves.svg
  submissions/Jigsaff/html-css-popup/img/014-hot-chocolate.svg
  submissions/Jigsaff/html-css-popup/img/016-candy-cane.svg
  submissions/Jigsaff/html-css-popup/img/019-snow-globe.svg
  submissions/Jigsaff/html-css-popup/img/025-snowflake.svg
  submissions/Jigsaff/html-css-popup/img/028-gift.svg
  submissions/Jigsaff/html-css-popup/img/031-christmas-star.svg
  submissions/Jigsaff/html-css-popup/img/043-balloons.svg
  submissions/Jigsaff/html-css-popup/img/044-candy.svg
  submissions/Jigsaff/html-css-popup/img/bg.jpg
  submissions/Jigsaff/html-css-popup/img/menu.svg
  submissions/Jigsaff/html-css-popup/index.html
Labels: Hooli-style Popup

#271 JS dom task
  submissions/okkkko/js_dom/index.html
  submissions/okkkko/js_dom/script.js
  submissions/okkkko/js_dom/style.css
Labels: JS DOM

#287 Tiny JS World
  submissions/YuliiaHordiichuk/a-tiny-js-world/index.js
Labels: JS pre-OOP

#283 Html css popup
  submissions/kasionio/html-css-popup/index.css
  submissions/kasionio/html-css-popup/index.html
Labels: Hooli-style Popup

#249 Frogger game
  submissions/Ant-C-tech/frogger-game/app.js
Labels: JS OOP

#296 completed tiny-js-world task
  submissions/maxim-zabolotny/tiny-js-world/index.js
Labels: JS pre-OOP

#202 Memory pair game
  submissions/webdevtoday/memory-pair-game/css/style.css
  submissions/webdevtoday/memory-pair-game/img/albatross.png
  submissions/webdevtoday/memory-pair-game/img/anchor.png
  submissions/webdevtoday/memory-pair-game/img/coral.png
  submissions/webdevtoday/memory-pair-game/img/dolphin.png
  submissions/webdevtoday/memory-pair-game/img/fish.png
  submissions/webdevtoday/memory-pair-game/img/squid.png
  submissions/webdevtoday/memory-pair-game/index.html
  submissions/webdevtoday/memory-pair-game/js/app.js
Labels: Memory Pair Game

#173 Memory pair game by Evgen24
  submissions/evgeniy24/memory-pair-game/app.js
  submissions/evgeniy24/memory-pair-game/img/1.jpg
  submissions/evgeniy24/memory-pair-game/img/2.jpg
  submissions/evgeniy24/memory-pair-game/img/3.jpg
  submissions/evgeniy24/memory-pair-game/img/4.jpg
  submissions/evgeniy24/memory-pair-game/img/5.jpg
  submissions/evgeniy24/memory-pair-game/img/6.jpg
  submissions/evgeniy24/memory-pair-game/img/7.jpg
  submissions/evgeniy24/memory-pair-game/index.html
  submissions/evgeniy24/memory-pair-game/styles.css
Labels: Memory Pair Game

#297 Review my html/css popup please
  submissions/alexey1985-FE/html-css-popup/css/style.css
  submissions/alexey1985-FE/html-css-popup/img/apps.png
  submissions/alexey1985-FE/html-css-popup/img/bell.png
  submissions/alexey1985-FE/html-css-popup/img/blogs.png
  submissions/alexey1985-FE/html-css-popup/img/calendar.png
  submissions/alexey1985-FE/html-css-popup/img/chat.png
  submissions/alexey1985-FE/html-css-popup/img/classroom.png
  submissions/alexey1985-FE/html-css-popup/img/collection.png
  submissions/alexey1985-FE/html-css-popup/img/contacts.png
  submissions/alexey1985-FE/html-css-popup/img/documents.png
  submissions/alexey1985-FE/html-css-popup/img/favicon.png
  submissions/alexey1985-FE/html-css-popup/img/files.png
  submissions/alexey1985-FE/html-css-popup/img/mail.png
  submissions/alexey1985-FE/html-css-popup/img/maps.png
  submissions/alexey1985-FE/html-css-popup/img/mars.png
  submissions/alexey1985-FE/html-css-popup/img/mic.png
  submissions/alexey1985-FE/html-css-popup/img/news.png
  submissions/alexey1985-FE/html-css-popup/img/photos.png
  submissions/alexey1985-FE/html-css-popup/img/popup-button.png
  submissions/alexey1985-FE/html-css-popup/img/promo.png
  submissions/alexey1985-FE/html-css-popup/img/search.png
  submissions/alexey1985-FE/html-css-popup/img/translation.png
  submissions/alexey1985-FE/html-css-popup/img/videos.png
  submissions/alexey1985-FE/html-css-popup/index.html
Labels: Hooli-style Popup

#222 Saiko oop
  submissions/RomanSaiko/oop/index.js
Labels: JS post-OOP

#306 Add new js-tiny-world task
  submissions/okkkko/a_tiny_js_world/index.js
Labels: JS pre-OOP

#274 Js post oop
  submissions/alstep07/task-js-post-oop/index.js
Labels: JS post-OOP

#269 Update submission instructions
  README.md
  img/file-structure.png
  img/github-pr-opening.png
Labels: documentation

#290 Frogger game
  submissions/ORybka/frogger-game/app.js
Labels: JS OOP

#291 A Tiny JS World post-OOP
  submissions/ORybka/post-a-tiny-js-world/index.js
Labels: JS post-OOP

#233 Building a Tiny JS World
  submissions/smillims/tiny-js-world/index.js
Labels: JS pre-OOP

#259 add dom-api-task
  submissions/NJul/dom-api-task/app.css
  submissions/NJul/dom-api-task/app.js
  submissions/NJul/dom-api-task/img/bg.jpg
  submissions/NJul/dom-api-task/index.html
Labels: JS DOM

#277 add JS DOM project
  submissions/Roophee/JS - DOM/index.html
  submissions/Roophee/JS - DOM/index.js
  submissions/Roophee/JS - DOM/style.scss
Labels: JS DOM

#301 Add memory pair game
  submissions/VBystrov/memory-pair-game/css/images.css
  submissions/VBystrov/memory-pair-game/css/style.css
  submissions/VBystrov/memory-pair-game/index.html
  submissions/VBystrov/memory-pair-game/js/back.js
  submissions/VBystrov/memory-pair-game/js/index.js
Labels: Memory Pair Game

#302 Initial JS DOM commit
  submissions/tavor118sn/task_js_dom/index.html
  submissions/tavor118sn/task_js_dom/script.js
  submissions/tavor118sn/task_js_dom/style.css
Labels: JS DOM

#315 add friends app
  submissions/alstep07/friends-app/app.css
  submissions/alstep07/friends-app/index.html
  submissions/alstep07/friends-app/script.js
Labels: Friends App

#305 Js dom
  submissions/Shrai-dev/js_dom/index.html
  submissions/Shrai-dev/js_dom/main.js
  submissions/Shrai-dev/js_dom/style.css
Labels: JS DOM

#320 + memory pair game;
  submissions/RomanSaiko/memory-pair-game/index.html
  submissions/RomanSaiko/memory-pair-game/scripts.js
  submissions/RomanSaiko/memory-pair-game/styles.css
Labels: Memory Pair Game

#242 js-dom is done
  submissions/ik-web/js-dom/css/style.css
  submissions/ik-web/js-dom/img/a-r.png
  submissions/ik-web/js-dom/img/bmw.png
  submissions/ik-web/js-dom/img/cars.png
  submissions/ik-web/js-dom/img/lamborg.png
  submissions/ik-web/js-dom/img/mazda.png
  submissions/ik-web/js-dom/img/merc.png
  submissions/ik-web/js-dom/img/skoda.png
  submissions/ik-web/js-dom/index.html
  submissions/ik-web/js-dom/js/app.js
Labels: JS DOM

#280 A tiny JS world post-OOP
  submissions/natashafir/post-oop/index.js
Labels: JS post-OOP

#312 a-tiny-JS-world
  submissions/NJul/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#220 OOP exercise s ready for review
  submissions/m-ruslan/oop-exercise/index.js
Labels: JS post-OOP

#256 add post-oop task
  submissions/kikinovk/OOP_exercise/index.js
Labels: JS post-OOP

#214 Tiny js world OOP
  submissions/ses3332002/tiny-js-world-oop/index.js
Labels: JS post-OOP

#309 OOP exercise
  submissions/kt-std/oop-exercise/index.js
Labels: JS post-OOP

#322 Pre-OOP
  submissions/vakulinina/js-pre-oop/index.js
Labels: JS pre-OOP

#293 oop-practice. Repaired output. Using array of objects and forEach()
  submissions/LGeorge007/oop-practice/index.js
Labels: JS post-OOP

#310 JS pre OOP
  submissions/tavor118sn/task_pre_oop/index.js
Labels: JS pre-OOP

#276 Friends app task
  submissions/ses3332002/friends-app/app.js
  submissions/ses3332002/friends-app/index.html
  submissions/ses3332002/friends-app/reset.css
  submissions/ses3332002/friends-app/style.css
Labels: Friends App

#265 Friends app task
  submissions/UA-girl/task_friends_app/css/styles.css
  submissions/UA-girl/task_friends_app/index.html
  submissions/UA-girl/task_friends_app/js/app.js
Labels: Friends App

#331 Frogger game
  submissions/YuliiaHordiichuk/frogger/app.js
Labels: JS OOP

#323 complated oop-exersice
  submissions/maxim-zabolotny/oop-exersice/index.js
Labels: JS post-OOP

#262 Memory pair game
  submissions/7SergSmith7/Memory-pair-game/app.js
  submissions/7SergSmith7/Memory-pair-game/dist/app.js
  submissions/7SergSmith7/Memory-pair-game/dist/img/acrobatics.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/boneCutter.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/cardFront.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/chaosRing.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/doubleStrike.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/innerDemon.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/manaBurn.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/metamorphosis.png
  submissions/7SergSmith7/Memory-pair-game/dist/img/splittingSoul.png
  submissions/7SergSmith7/Memory-pair-game/dist/index.html
  submissions/7SergSmith7/Memory-pair-game/index.html
  submissions/7SergSmith7/Memory-pair-game/styles.css
Labels: Memory Pair Game

#93 Popup task
  submissions/Lu-sure/Popup/index.html
  submissions/Lu-sure/Popup/style.css
Labels: Hooli-style Popup, stale

#318 Frogger game was completed
  submissions/LGeorge007/object-oriented-JS/app.js
Labels: JS OOP

#337 OOP
  submissions/YuliiaHordiichuk/post-oop/index.js
Labels: JS post-OOP

#316 Object-Oriented JS
  submissions/vakulinina/js-oop/app.js
Labels: JS OOP

#295 A tiny js world
  submissions/yaripey/a-tiny-js-world/index.js
Labels: JS pre-OOP

#227 Memory pair game
  submissions/nadsatt/memory-pair-game/index.html
  submissions/nadsatt/memory-pair-game/index.js
  submissions/nadsatt/memory-pair-game/styles.css
Labels: Memory Pair Game

#273 Friends app
  submissions/Nemooochka/friends-app/index.html
  submissions/Nemooochka/friends-app/js/app.js
  submissions/Nemooochka/friends-app/js/cards.js
  submissions/Nemooochka/friends-app/js/filters.js
  submissions/Nemooochka/friends-app/js/url.js
  submissions/Nemooochka/friends-app/styles.css
Labels: Friends App

#281 Js dom
  submissions/YuliiaHordiichuk/js-dom/img/american.jpg
  submissions/YuliiaHordiichuk/js-dom/img/balinese.jpg
  submissions/YuliiaHordiichuk/js-dom/img/bg.png
  submissions/YuliiaHordiichuk/js-dom/img/british.jpg
  submissions/YuliiaHordiichuk/js-dom/img/exotic.jpg
  submissions/YuliiaHordiichuk/js-dom/img/maine.jpg
  submissions/YuliiaHordiichuk/js-dom/index.html
  submissions/YuliiaHordiichuk/js-dom/script.js
  submissions/YuliiaHordiichuk/js-dom/style.css
Labels: JS DOM

#319 OOP Exercise/a-tiny-js-world updated
  submissions/TaniaBondarenko/a-tiny-js-world-update/index.js
Labels: JS post-OOP

#346 Added a-tiny-JS-world task
  submissions/Jigsaff/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#313 Frogger initial commit
  submissions/yaripey/frogger/app.js
Labels: JS OOP

#345 Tiny js world | Anastasiia Yeromina
  submissions/AsyaYeromina/Tiny-JS-world/index.js
Labels: JS pre-OOP

#303 Dom model
  submissions/akulahere/DOM model/src/index.html
  submissions/akulahere/DOM model/src/scripts/main.js
  submissions/akulahere/DOM model/src/styles/main.css
Labels: JS DOM

#300 Added solution for JS Post OOP task
  submissions/Ant-C-tech/oop-exercise/index.js
Labels: JS post-OOP

#261 Html css popup
  submissions/karachevtsev/html-css-popup/index.html
  submissions/karachevtsev/html-css-popup/style.css
Labels: Hooli-style Popup

#333 added html-css-popup
  submissions/Harnytskyi/html_css_popup/css/style.css
  submissions/Harnytskyi/html_css_popup/index.html
Labels: Hooli-style Popup

#141 html css popup
  submissions/YuliiaHordiichuk/popup/css/style.css
  submissions/YuliiaHordiichuk/popup/icons/apps.png
  submissions/YuliiaHordiichuk/popup/icons/bell.png
  submissions/YuliiaHordiichuk/popup/icons/blogs.png
  submissions/YuliiaHordiichuk/popup/icons/calendar.png
  submissions/YuliiaHordiichuk/popup/icons/chat.png
  submissions/YuliiaHordiichuk/popup/icons/classroom.png
  submissions/YuliiaHordiichuk/popup/icons/collection.png
  submissions/YuliiaHordiichuk/popup/icons/contacts.png
  submissions/YuliiaHordiichuk/popup/icons/documents.png
  submissions/YuliiaHordiichuk/popup/icons/favicon.png
  submissions/YuliiaHordiichuk/popup/icons/files.png
  submissions/YuliiaHordiichuk/popup/icons/mail.png
  submissions/YuliiaHordiichuk/popup/icons/maps.png
  submissions/YuliiaHordiichuk/popup/icons/mars.png
  submissions/YuliiaHordiichuk/popup/icons/mic.png
  submissions/YuliiaHordiichuk/popup/icons/news.png
  submissions/YuliiaHordiichuk/popup/icons/photos.png
  submissions/YuliiaHordiichuk/popup/icons/popup-button.png
  submissions/YuliiaHordiichuk/popup/icons/promo.png
  submissions/YuliiaHordiichuk/popup/icons/search.png
  submissions/YuliiaHordiichuk/popup/icons/tanslation.png
  submissions/YuliiaHordiichuk/popup/icons/videos.png
  submissions/YuliiaHordiichuk/popup/index.html
Labels: Hooli-style Popup

#278 Complete Memory Pair Game
  submissions/lalalilulu/memory-game/index.html
  submissions/lalalilulu/memory-game/script.js
  submissions/lalalilulu/memory-game/styles.css
Labels: Memory Pair Game

#275 Memory Pair Game added
  submissions/BlueLamantine/memory-pair-game/css/cards.css
  submissions/BlueLamantine/memory-pair-game/css/map.css
  submissions/BlueLamantine/memory-pair-game/css/paws.css
  submissions/BlueLamantine/memory-pair-game/css/style.css
  submissions/BlueLamantine/memory-pair-game/index.html
  submissions/BlueLamantine/memory-pair-game/js/index.js
Labels: Memory Pair Game

#151 Nanodegree arcade game
  submissions/xT0PERx/Nanodegree-arcade-game/app.js
Labels: JS OOP, stale

#288 Memory pairs game
  submissions/alstep07/memory-pair-game/app.js
  submissions/alstep07/memory-pair-game/index.html
  submissions/alstep07/memory-pair-game/style.css
Labels: Memory Pair Game

#121 Dom api task
  submissions/Lu-sure/dom-api/index.html
  submissions/Lu-sure/dom-api/index.js
  submissions/Lu-sure/dom-api/style.css
Labels: JS DOM

#356 DOM-practice
  submissions/LGeorge007/DOM-practice/index.html
  submissions/LGeorge007/DOM-practice/script.js
  submissions/LGeorge007/DOM-practice/style.css
Labels: JS DOM

#159 Hooli-style-popup task
  submissions/NJul/html-css-popup/img/background-cat-big.jpg
  submissions/NJul/html-css-popup/img/background-cat-small.jpg
  submissions/NJul/html-css-popup/img/bell.png
  submissions/NJul/html-css-popup/img/favicon.ico
  submissions/NJul/html-css-popup/img/kottans.png
  submissions/NJul/html-css-popup/img/popup-button.png
  submissions/NJul/html-css-popup/img/popup-icons/black-cat-1.png
  submissions/NJul/html-css-popup/img/popup-icons/black-cat-2.png
  submissions/NJul/html-css-popup/img/popup-icons/black-cat.png
  submissions/NJul/html-css-popup/img/popup-icons/cat-1.png
  submissions/NJul/html-css-popup/img/popup-icons/cat-2.png
  submissions/NJul/html-css-popup/img/popup-icons/cat-3.png
  submissions/NJul/html-css-popup/img/popup-icons/cat-4.png
  submissions/NJul/html-css-popup/img/popup-icons/cat-5.png
  submissions/NJul/html-css-popup/img/popup-icons/cat.png
  submissions/NJul/html-css-popup/img/popup-icons/grinning-cat-emoji.png
  submissions/NJul/html-css-popup/img/popup-icons/grinning-cat-with-smiling-eyes.png
  submissions/NJul/html-css-popup/img/popup-icons/kitty-1.png
  submissions/NJul/html-css-popup/img/popup-icons/kitty.png
  submissions/NJul/html-css-popup/img/popup-icons/meowth.png
  submissions/NJul/html-css-popup/img/popup-icons/weary-cat.png
  submissions/NJul/html-css-popup/index.html
  submissions/NJul/html-css-popup/style.css
Labels: Hooli-style Popup

#332 Friends App
  submissions/AnnaStoyano/Friends-app/index.html
  submissions/AnnaStoyano/Friends-app/index.js
  submissions/AnnaStoyano/Friends-app/style.css
Labels: Friends App

#350 html-css-popup task from antonkottans added
  submissions/AntonKottans/html-css-popup/index.html
  submissions/AntonKottans/html-css-popup/style.css
Labels: Hooli-style Popup

#268 add html-css-popup code for review
  submissions/DarlaMoonlight/html-css-popup/index.html
  submissions/DarlaMoonlight/html-css-popup/style.css
Labels: Hooli-style Popup

#294 Object-Oriented JS task
  submissions/kt-std/object-oriented-js/app.js
Labels: JS OOP

#264 JS post-OOP
  submissions/zalevskyi/a-tiny-js-world-oop/index.js
Labels: JS post-OOP

#368 A tiny js world
  submissions/kasionio/a-tiny-JS-world/index.js
Labels: JS pre-OOP

#341 JS OOP
  submissions/tavor118sn/task_js_oop/app.js
Labels: JS OOP

#342 Js oop
  submissions/Roophee/js-oop/app.js
Labels: JS OOP

#347 Initial OOP tiny js world commit
  submissions/yaripey/oop-exercise/index.js
Labels: JS post-OOP

#351 JS post-OOP
  submissions/vakulinina/js-post-oop/index.js
Labels: JS post-OOP

#364 Tiny js world
  submissions/akulahere/a-tiny-js-world/index.js
Labels: JS pre-OOP

#299 frogger_game
  submissions/TaniaBondarenko/frogger_game/app.js
Labels: JS OOP

#113 Memory pair game release
  submissions/mustbefail/memory-pair-game/app.js
  submissions/mustbefail/memory-pair-game/index.html
  submissions/mustbefail/memory-pair-game/index.js
  submissions/mustbefail/memory-pair-game/style.css
Labels: Memory Pair Game, stale

#349 popup_task
  submissions/SamVal007/HTML-CSS-Popup/index.html
  submissions/SamVal007/HTML-CSS-Popup/style.css
Labels: Hooli-style Popup

#272 Memory pair task
  submissions/Lu-sure/memory-pair-game/index.html
  submissions/Lu-sure/memory-pair-game/index.js
  submissions/Lu-sure/memory-pair-game/style.css
Labels: Memory Pair Game

#292 Dom task
  submissions/yaripey/dom-task/css/main.css
  submissions/yaripey/dom-task/index.html
  submissions/yaripey/dom-task/js/main.js
Labels: JS DOM

#367 Js-pre-oop
  submissions/Harnytskyi/js-pre-oop/index.js
Labels: JS pre-OOP

#285 DOM API task done | Anastasiia Yeromina
  submissions/AsyaYeromina/dom-api/index.html
  submissions/AsyaYeromina/dom-api/script.js
  submissions/AsyaYeromina/dom-api/style.css
Labels: JS DOM

#317 OOP exercise
  submissions/Shrai-dev/oop-exercise/index.js
Labels: JS post-OOP

#340 add pre-OOP version of world
  submissions/Roophee/a-tyni-js-world-roophee/index.js
Labels: JS pre-OOP

#365 Object-Oriented JavaScript (Frogger)
  submissions/akulahere/frogger-game/app.js
Labels: JS OOP

#378 Added frogger game
  submissions/SerhiiYakovenko/frogger-game/README.md
  submissions/SerhiiYakovenko/frogger-game/app.js
Labels: JS OOP

#361 JS OOP (Frogger game)
  submissions/zalevskyi/frogger-game/app.js
Labels: JS OOP

#352 JS POST OOP
  submissions/tavor118sn/task_js_post_oop/index.js
Labels: JS post-OOP
