Repository kottans/frontend-2021-homeworks, pull requests merged in 2021-01, with the labels that each got.

#234 Oop exercise
  submissions/Lu-sure/post-oop/index.js
Labels: JS post-OOP

#390 JS Dom from f3d0t
  submissions/f3d0t/task_js_dom/index.html
  submissions/f3d0t/task_js_dom/script.js
  submissions/f3d0t/task_js_dom/style.css
Labels: JS DOM

#284 Dom practise
  submissions/maxim-zabolotny/dom-practise/app.js
  submissions/maxim-zabolotny/dom-practise/index.html
  submissions/maxim-zabolotny/dom-practise/style.css
Labels: JS DOM

#413 Pre oop
  submissions/ik-web/pre-oop/index.js
Labels: JS pre-OOP

#414 Popup
  submissions/cuteman18/popup/app.css
  submissions/cuteman18/popup/index.html
Labels: Hooli-style Popup

#240 JS DOM Task
  submissions/nallikaea/js-dom/index.html
  submissions/nallikaea/js-dom/index.js
  submissions/nallikaea/js-dom/style.css
Labels: JS DOM

#373 added js-dom task
  submissions/SerhiiYakovenko/js-dom/index.html
  submissions/SerhiiYakovenko/js-dom/script.js
  submissions/SerhiiYakovenko/js-dom/style.css
Labels: JS DOM

#311 added friends app
  submissions/chris-voitova/friends-app/index.html
  submissions/chris-voitova/friends-app/script.js
  submissions/chris-voitova/friends-app/style.css
Labels: Friends App

#383 Memory game
  submissions/tavor118sn/task_memory_game/css/style.css
  submissions/tavor118sn/task_memory_game/index.html
  submissions/tavor118sn/task_memory_game/script.js
Labels: Memory Pair Game

#384 Memory Pair Game
  submissions/YuliiaHordiichuk/memory-game/index.html
  submissions/YuliiaHordiichuk/memory-game/index.js
  submissions/YuliiaHordiichuk/memory-game/style.css
Labels: Memory Pair Game

#358 Complete Friends App Task
  submissions/lalalilulu/friends-app/index.html
  submissions/lalalilulu/friends-app/script.js
  submissions/lalalilulu/friends-app/styles.css
Labels: Friends App

#424 Friends app
  submissions/f3d0t/friends-app/app.js
  submissions/f3d0t/friends-app/index.html
  submissions/f3d0t/friends-app/style.css
Labels: Friends App

#399 Js-OOP frogger by F3d0t
  submissions/f3d0t/js-oop/app.js
Labels: JS OOP

#355 Friends App
  submissions/iakow/friends-app/css/style.css
  submissions/iakow/friends-app/index.html
  submissions/iakow/friends-app/js/main.js
Labels: Friends App

#338 Friends app
  submissions/nadsatt/friends-app/index.html
  submissions/nadsatt/friends-app/main.css
  submissions/nadsatt/friends-app/main.js
  submissions/nadsatt/friends-app/modules/api-service.js
  submissions/nadsatt/friends-app/modules/header.js
  submissions/nadsatt/friends-app/modules/image-service.js
  submissions/nadsatt/friends-app/modules/loading-page.js
  submissions/nadsatt/friends-app/modules/pagination.js
  submissions/nadsatt/friends-app/modules/search-state-keepers.js
  submissions/nadsatt/friends-app/modules/sort-state-keepers.js
  submissions/nadsatt/friends-app/modules/state-keeper-group.js
  submissions/nadsatt/friends-app/modules/state-keeper-subgroup.js
  submissions/nadsatt/friends-app/modules/state-keepers.js
  submissions/nadsatt/friends-app/modules/svgs.js
  submissions/nadsatt/friends-app/modules/user-card-item.js
  submissions/nadsatt/friends-app/modules/user-card-list.js
  submissions/nadsatt/friends-app/modules/user-service.js
  submissions/nadsatt/friends-app/modules/user.js
  submissions/nadsatt/friends-app/styles/header.css
  submissions/nadsatt/friends-app/styles/loading-page.css
  submissions/nadsatt/friends-app/styles/pagination.css
  submissions/nadsatt/friends-app/styles/reset.css
  submissions/nadsatt/friends-app/styles/responsive.css
  submissions/nadsatt/friends-app/styles/state-keepers.css
  submissions/nadsatt/friends-app/styles/user-cards.css
Labels: Friends App

#427 Memory pair game
  submissions/TaniaBondarenko/memory-pair-game/app.js
Labels: Memory Pair Game

#371 Task Friends app added
  submissions/BlueLamantine/friends app/css/style.css
  submissions/BlueLamantine/friends app/index.html
  submissions/BlueLamantine/friends app/js/main.js
Labels: Friends App

#418 Memory pair game by f3d0t
  submissions/f3d0t/memory_pair_game/app.js
  submissions/f3d0t/memory_pair_game/index.html
  submissions/f3d0t/memory_pair_game/style.css
Labels: Memory Pair Game

#398 dom-js-task
  submissions/SamVal007/task-JS-dom/dom.js
  submissions/SamVal007/task-JS-dom/index.html
  submissions/SamVal007/task-JS-dom/style.css
Labels: JS DOM

#357 Friends app
  submissions/webdevtoday/friends-app/css/style.css
  submissions/webdevtoday/friends-app/index.html
  submissions/webdevtoday/friends-app/js/app.js
  submissions/webdevtoday/friends-app/js/components/RandomUserAPI.js
  submissions/webdevtoday/friends-app/js/components/formatDate.js
  submissions/webdevtoday/friends-app/js/components/makeCard.js
  submissions/webdevtoday/friends-app/js/components/makeForm.js
  submissions/webdevtoday/friends-app/js/components/normalizeUsers.js
  submissions/webdevtoday/friends-app/js/components/oops.js
  submissions/webdevtoday/friends-app/js/components/showErrorScreen.js
  submissions/webdevtoday/friends-app/js/components/sortAndFiltersFunctions.js
Labels: Friends App

#143 Memory pair game
  submissions/xT0PERx/Memory pair game/index.html
  submissions/xT0PERx/Memory pair game/style.css
  submissions/xT0PERx/Memory pair game/transitions.js
Labels: Memory Pair Game

#425 Friends app
  submissions/tavor118sn/task_friends_app/index.html
  submissions/tavor118sn/task_friends_app/script.js
  submissions/tavor118sn/task_friends_app/style.css
Labels: Friends App

#336 Memory pair game
  submissions/kt-std/memory-pair-game/css/style.css
  submissions/kt-std/memory-pair-game/index.html
  submissions/kt-std/memory-pair-game/js/script.js
Labels: Memory Pair Game
