Repository kottans/frontend-2021-homeworks, pull requests merged in 2021-02, with the labels that each got.

#431 Friends App
  submissions/YuliiaHordiichuk/friends-app/app.js
  submissions/YuliiaHordiichuk/friends-app/index.css
  submissions/YuliiaHordiichuk/friends-app/index.html
Labels: Friends App

#448 Friends-app
  submissions/smillims/friends app/css/media.css
  submissions/smillims/friends app/css/style.css
  submissions/smillims/friends app/index.html
  submissions/smillims/friends app/js/script.js
Labels: Friends App

#447 friends app
  submissions/mustbefail/friends-app/index.html
  submissions/mustbefail/friends-app/src/js/app.js
  submissions/mustbefail/friends-app/src/js/index.js
  submissions/mustbefail/friends-app/src/js/reformUserObj.js
  submissions/mustbefail/friends-app/src/js/services.js
  submissions/mustbefail/friends-app/src/js/template.js
  submissions/mustbefail/friends-app/src/style.css
Labels: Friends App

#403 Friends App
  submissions/kt-std/friends-app/css/style.css
  submissions/kt-std/friends-app/index.html
  submissions/kt-std/friends-app/js/script.js
Labels: Friends App

#433 Memory pair game
  submissions/Harnytskyi/memory_pair_game/index.html
  submissions/Harnytskyi/memory_pair_game/script.js
  submissions/Harnytskyi/memory_pair_game/style.css
Labels: Memory Pair Game

#432 Memory pair game done
  submissions/ik-web/memory-pair-game/css/style.css
  submissions/ik-web/memory-pair-game/index.html
  submissions/ik-web/memory-pair-game/js/app.js
Labels: Memory Pair Game

#382 Friends app
  submissions/maxim-zabolotny/friends-app/app.js
  submissions/maxim-zabolotny/friends-app/index.html
  submissions/maxim-zabolotny/friends-app/style.css
Labels: Friends App

#443 Friends app
  submissions/ik-web/friends-app/css/style.css
  submissions/ik-web/friends-app/img/favicon.ico
  submissions/ik-web/friends-app/index.html
  submissions/ik-web/friends-app/js/script.js
Labels: Friends App

#435 Memory-pair-game
  submissions/kasionio/memory-pair-game/index.css
  submissions/kasionio/memory-pair-game/index.html
  submissions/kasionio/memory-pair-game/index.js
Labels: Memory Pair Game

#428 Memory pair game
  submissions/zalevskyi/memory-pair-game/app.css
  submissions/zalevskyi/memory-pair-game/app.js
  submissions/zalevskyi/memory-pair-game/index.html
Labels: Memory Pair Game

#339 Memory Pair Game
  submissions/vakulinina/memory-pair-game/index.html
  submissions/vakulinina/memory-pair-game/main.js
  submissions/vakulinina/memory-pair-game/style.css
Labels: Memory Pair Game

#327 complated pair-game task
  submissions/maxim-zabolotny/pair-game/index.html
  submissions/maxim-zabolotny/pair-game/script.js
  submissions/maxim-zabolotny/pair-game/style.css
Labels: Memory Pair Game

#437 Friends App
  submissions/yaripey/friends-app/css/cards.css
  submissions/yaripey/friends-app/css/main.css
  submissions/yaripey/friends-app/index.html
  submissions/yaripey/friends-app/js/main.js
  submissions/yaripey/friends-app/js/mobileMenuLogic.js
  submissions/yaripey/friends-app/js/settings.js
  submissions/yaripey/friends-app/js/userService.js
  submissions/yaripey/friends-app/js/users.js
Labels: Friends App

#450 Friends App
  submissions/Harnytskyi/friends-app/css/style.css
  submissions/Harnytskyi/friends-app/index.html
  submissions/Harnytskyi/friends-app/js/script.js
Labels: Friends App

#436 Syakovenko memory pair game
  submissions/SerhiiYakovenko/memory-pair-game/index.html
  submissions/SerhiiYakovenko/memory-pair-game/script.js
  submissions/SerhiiYakovenko/memory-pair-game/style.css
Labels: Memory Pair Game

#455 Friends App
  submissions/Shrai-dev/friends-app/app.js
  submissions/Shrai-dev/friends-app/index.html
  submissions/Shrai-dev/friends-app/style.css
Labels: Friends App

#430 Friends app by Evgen241984
  submissions/evgeniy24/friends_app/README.MD
  submissions/evgeniy24/friends_app/app.js
  submissions/evgeniy24/friends_app/fonts.css
  submissions/evgeniy24/friends_app/index.html
  submissions/evgeniy24/friends_app/media.css
  submissions/evgeniy24/friends_app/reset.css
  submissions/evgeniy24/friends_app/styles.css
Labels: Friends App

#438 Memory pair game
  submissions/smillims/memory-pair-game/css/style.css
  submissions/smillims/memory-pair-game/index.html
  submissions/smillims/memory-pair-game/js/script.js
Labels: Memory Pair Game

#434 add friends-app
  submissions/TaniaBondarenko/friends-app/app.js
  submissions/TaniaBondarenko/friends-app/index.html
  submissions/TaniaBondarenko/friends-app/styles.css
Labels: Friends App

#408 memory-pair-game
  submissions/LGeorge007/memory-pair-game/index.html
  submissions/LGeorge007/memory-pair-game/script.js
  submissions/LGeorge007/memory-pair-game/style.css
Labels: Memory Pair Game

#449 Friends App
  submissions/zalevskyi/friends-app/app.css
  submissions/zalevskyi/friends-app/app.js
  submissions/zalevskyi/friends-app/index.html
Labels: Friends App

#446 friends-app by LGeorge007
  submissions/LGeorge007/friends-app/index.html
  submissions/LGeorge007/friends-app/script.js
  submissions/LGeorge007/friends-app/style.css
Labels: Friends App

#454 Added friends app
  submissions/SerhiiYakovenko/friends-app/index.html
  submissions/SerhiiYakovenko/friends-app/script.js
  submissions/SerhiiYakovenko/friends-app/style.css
Labels: Friends App

#401 oop-exercise
  submissions/ik-web/oop-exercise/index.js
Labels: JS post-OOP

#452 Friends App
  submissions/vakulinina/friends-app/index.html
  submissions/vakulinina/friends-app/main.js
  submissions/vakulinina/friends-app/style.css
Labels: Friends App

#459 Friends-app
  submissions/VBystrov/friends-app/css/style.css
  submissions/VBystrov/friends-app/index.html
  submissions/VBystrov/friends-app/js/index.js
Labels: Friends App

#379 implement post oop
  submissions/akulahere/task-js-post-oop/index.js
Labels: JS post-OOP

#389 Add js-post-oop task
  submissions/okkkko/js-post-oop/index.js
Labels: JS post-OOP

#415 Frogger game
  submissions/maxim-zabolotny/frogger/app.js
Labels: JS OOP

#388 JS post-OOP
  submissions/NJul/a-tiny-JS-world-oop/index.js
Labels: JS post-OOP, p2p

#394 Tiny JS world (post-OOP)
  submissions/AsyaYeromina/Tiny-JS-world-OOP/index.js
Labels: JS post-OOP, irrelevant files/code/commits, p2p

#405 Frogger game
  submissions/SamVal007/Frogger game task/app.js
Labels: JS OOP, irrelevant files/code/commits

#407 OOP-exercise
  submissions/SamVal007/Tiny-JS-OOP/index.js
Labels: JS post-OOP

#385 Frogger-game
  submissions/kasionio/frogger-game/app.js
Labels: JS OOP

#380 Refactored JS tiny world with OOP style
  submissions/SerhiiYakovenko/tiny-js-oop/index.js
Labels: JS post-OOP

#442 Friends-app
  submissions/xT0PERx/Friends app/css/style.css
  submissions/xT0PERx/Friends app/index.html
  submissions/xT0PERx/Friends app/js/index.js
Labels: Friends App

#464 Friends App
  submissions/ORybka/friends-app/index.html
  submissions/ORybka/friends-app/main.js
  submissions/ORybka/friends-app/style.scss
Labels: Friends App

#461 Friends App is ready for review
  submissions/m-ruslan/friends-app/app.css
  submissions/m-ruslan/friends-app/index.html
  submissions/m-ruslan/friends-app/index.js
  submissions/m-ruslan/friends-app/src/api.js
  submissions/m-ruslan/friends-app/src/list.js
  submissions/m-ruslan/friends-app/src/sorter.js
Labels: Friends App

#343 Memory Pair Game by Roophee
  submissions/Roophee/pair-game/index.html
  submissions/Roophee/pair-game/index.js
  submissions/Roophee/pair-game/style.scss
Labels: Memory Pair Game

#348 Memory Pair Game is ready for review
  submissions/m-ruslan/memory-pair-game/app.css
  submissions/m-ruslan/memory-pair-game/app.js
  submissions/m-ruslan/memory-pair-game/index.html
Labels: Memory Pair Game

#460 Friends App by Roophee
  submissions/Roophee/friends-app/index.html
  submissions/Roophee/friends-app/index.js
  submissions/Roophee/friends-app/style.scss
Labels: Friends App

#426 JS DOM
  submissions/phpslonuk/JS_DOM/index.html
  submissions/phpslonuk/JS_DOM/script/main.js
  submissions/phpslonuk/JS_DOM/style/main.css
Labels: JS DOM, p2p

#444 Memory pair game
  submissions/Shrai-dev/memory-pair-game/index.html
  submissions/Shrai-dev/memory-pair-game/main.js
  submissions/Shrai-dev/memory-pair-game/style.css
Labels: Memory Pair Game

#289 memory-pair-game
  submissions/iakow/memory-pair-game/css/style.css
  submissions/iakow/memory-pair-game/index.html
  submissions/iakow/memory-pair-game/js/config.js
  submissions/iakow/memory-pair-game/js/controller.js
  submissions/iakow/memory-pair-game/js/game.js
  submissions/iakow/memory-pair-game/js/render.js
Labels: Memory Pair Game

#328 Memory Pair Game
  submissions/kikinovk/Memory_Pair-game/README.md
  submissions/kikinovk/Memory_Pair-game/css/style.css
  submissions/kikinovk/Memory_Pair-game/index.html
  submissions/kikinovk/Memory_Pair-game/js/main.js
Labels: Memory Pair Game

#456 Memory Pair Game
  submissions/ORybka/memory-pair/index.html
  submissions/ORybka/memory-pair/main.js
  submissions/ORybka/memory-pair/style.scss
Labels: Memory Pair Game

#440 Memory_Pair_Game
  submissions/SamVal007/Memory_Pair_Game/index.html
  submissions/SamVal007/Memory_Pair_Game/main.js
  submissions/SamVal007/Memory_Pair_Game/style.css
Labels: Memory Pair Game

#463 Init commit of friends app
  submissions/Lu-sure/friends-search-page-app/index.html
  submissions/Lu-sure/friends-search-page-app/index.js
  submissions/Lu-sure/friends-search-page-app/style.css
Labels: Friends App, requires-attention

#458 friends app
  submissions/kasionio/friends-app/index.css
  submissions/kasionio/friends-app/index.html
  submissions/kasionio/friends-app/index.js
Labels: Friends App, requires-attention

#451 Add memory-pair-game
  submissions/natashafir/memory-pair-game/index.html
  submissions/natashafir/memory-pair-game/index.js
  submissions/natashafir/memory-pair-game/style.css
Labels: Memory Pair Game, requires-attention

#453 implement memory game
  submissions/akulahere/memory game/index.html
  submissions/akulahere/memory game/script.js
  submissions/akulahere/memory game/styles.css
Labels: Memory Pair Game, requires-attention

#421 added pre-oop version
  submissions/TaniaBondarenko/a-tiny-js-world-pre-oop/index.js
Labels: JS pre-OOP

#462 implement friends app
  submissions/akulahere/friends-app/index.html
  submissions/akulahere/friends-app/script.js
  submissions/akulahere/friends-app/style.css
Labels: Friends App, requires-attention

#402 OOP-exercise
  submissions/kasionio/oop-exercise/index.js
Labels: JS post-OOP

#298 Oop exercise
  submissions/smillims/oop-exercise/index.js
Labels: JS post-OOP
